
mixin new-works-section(fixed_card = true, title=null, title_text='', title_mixclass='', modclass='', sort_hide=false)
    section(class= modclass + ' new-works-section' + ' lazy-section')
        if (title)
            +title-std(title_text, title_mixclass)
        .container
            .new_works-section__work.js-grid
                +new-work({
                    src: 'img/work1.jpg', 
                    title: 'Распоряжения о структуре тут длинное название картины', 
                    auth: 'Екатерина Александровна Преображенская',
                    auth_link: '#',
                    descr: 'Картина, 80x60 см.',
                    price: '927 750 ',
                    old_price: '727 750',
                    novelty: true,
                    discount: true,
                    amount: '20%'
                }, '#', 'new-works-section__item')
                +new-work({
                    src: 'img/work2.jpg', 
                    title: 'Абстракция, Опус J202', 
                    auth: 'Соколов Виталий',
                    auth_link: '#',
                    descr: 'Картина, 80x60 см.',
                    price: '927 750 ',
                    old_price: '727 750',
                    novelty: true,
                    discount: false,
                    amount: '20%'
                }, '#', 'new-works-section__item')
                +new-work({
                    src: 'img/work3.jpg', 
                    title: 'Абстракция, Опус J202', 
                    auth: 'Соколов Виталий',
                    auth_link: '#',
                    descr: 'Картина, 80x60 см.',
                    price: '927 750 ',
                    old_price: '727 750',
                    novelty: true,
                    discount: false,
                    amount: '20%'
                }, '#', 'new-works-section__item')
                +new-work({
                    src: 'img/work4.jpg', 
                    title: 'Распоряжения о структуре тут длинное название картины', 
                    auth: 'Екатерина Александровна Преображенская',
                    auth_link: '#',
                    descr: 'Картина, 80x60 см.',
                    price: '927 750 ',
                    old_price: '727 750',
                    novelty: true,
                    discount: true,
                    amount: '20%'
                }, '#', 'new-works-section__item')
                +new-work({
                    src: 'img/work5.jpg', 
                    title: 'Абстракция, Опус J202', 
                    auth: 'Соколов Виталий',
                    auth_link: '#',
                    descr: 'Картина, 80x60 см.',
                    price: '927 750 ',
                    old_price: '727 750',
                    novelty: true,
                    discount: false,
                    amount: '20%'
                }, '#', 'new-works-section__item')
                +new-work({
                    src: 'img/work6.jpg', 
                    title: 'Абстракция, Опус J202', 
                    auth: 'Соколов Виталий',
                    auth_link: '#',
                    descr: 'Картина, 80x60 см.',
                    price: '927 750 ',
                    old_price: '727 750',
                    novelty: true,
                    discount: false,
                    amount: '20%'
                }, '#', 'new-works-section__item')
                +new-work({
                    src: 'img/work7.jpg', 
                    title: 'Распоряжения о структуре тут длинное название картины', 
                    auth: 'Екатерина Александровна Преображенская',
                    auth_link: '#',
                    descr: 'Картина, 80x60 см.',
                    price: '927 750 ',
                    old_price: '727 750',
                    novelty: true,
                    discount: true,
                    amount: '20%'
                }, '#', 'new-works-section__item')
                +new-work({
                    src: 'img/work8.jpg', 
                    title: 'Абстракция, Опус J202', 
                    auth: 'Соколов Виталий',
                    auth_link: '#',
                    descr: 'Картина, 80x60 см.',
                    price: '927 750 ',
                    old_price: '727 750',
                    novelty: true,
                    discount: false,
                    amount: '20%'
                }, '#', 'new-works-section__item')
                +new-work({
                    src: 'img/work9.jpg', 
                    title: 'Абстракция, Опус J202', 
                    auth: 'Соколов Виталий',
                    auth_link: '#',
                    descr: 'Картина, 80x60 см.',
                    price: '927 750 ',
                    old_price: '727 750',
                    novelty: true,
                    discount: false,
                    amount: '20%'
                }, '#', 'new-works-section__item')
                if(fixed_card)
                    .new-works-section__choice.choice.js-fixed-item
                        img.choice__img.choice__img--1(src="img/choice1.png", alt="Декор")
                        img.choice__img.choice__img--2(src="img/choice2.png", alt="Декор")
                        img.choice__img.choice__img--3(src="img/choice3.png", alt="Декор")
                        img.choice__img.choice__img--4(src="img/choice4.png", alt="Декор")
                        a.choice__title Умный выбор по параметрам с примерами
                        a.choice__button Подобрать
                if (sort_hide == true)
                    .new-works-section__sort-hide.sort.js-sort-select
                        label.sort__title(for="sort") Сортировать по:
                        select.sort__categories(name="sort")
                            option.sort__option Дате 
                            option.sort__option Автору
                            option.sort__option Стилю 
                            option.sort__option Названию 
                            option.sort__option Типу
                else
                    .new-works-section__sort-no-hide.sort.js-sort-select
                        label.sort__title(for="sort") Сортировать по:
                        select.sort__categories(name="sort")
                            option.sort__option Дате 
                            option.sort__option Автору
                            option.sort__option Стилю 
                            option.sort__option Названию 
                            option.sort__option Типу
        if(sort_hide)                    
            a.new-works-section__btn.btn-std Смотреть все
        else
            a.new-works-section__btn.btn-std Показать еще