mixin h-slider()
    .h-slider.swiper-container
        .h-slider__pagination
        .h-slider__inner.swiper-wrapper
            .h-slider__slide.h-slide.swiper-slide(style="background-image:url('img/header_slide1.jpg')")
                .container
                    .h-slide__content
                        p.h-slide__pretitle Новое на этой неделе
                        h2.h-slide__title
                            span.h-slide__title-text Лучшие фигуративные произведения
                        p.h-slide__descr Новые оригинальные работы, выбранные нашим экспертом
                    a.h-slide__button.btn-std.btn-std--inverted Открыть
            .h-slider__slide.h-slide.swiper-slide(style="background-image:url('img/header_slide1.jpg')")
                .container
                    .h-slide__content
                        p.h-slide__pretitle Новое на этой неделе
                        h2.h-slide__title
                            span.h-slide__title-text Лучшие фигуративные произведения
                        p.h-slide__descr Новые оригинальные работы, выбранные нашим экспертом
                    a.h-slide__button.btn-std.btn-std--inverted Открыть
            .h-slider__slide.h-slide.swiper-slide(style="background-image:url('img/header_slide1.jpg')")
                .container
                    .h-slide__content
                        p.h-slide__pretitle Новое на этой неделе
                        h2.h-slide__title
                            span.h-slide__title-text Лучшие фигуративные произведения
                        p.h-slide__descr Новые оригинальные работы, выбранные нашим экспертом
                    a.h-slide__button.btn-std.btn-std--inverted Открыть
