.h-slider {
    width: 100%;
    position: relative;
    &__inner {
        position: relative;
    }
    &__pagination {
        width: 100%;
        position: absolute;
        z-index: $z-bottom;
        bottom: 70px !important;
        left:0; 
        display: flex;
        justify-content: center;
        & .swiper-pagination-bullet {
            margin: 0 10px !important;
            background-color: transparent;
            border: 2px solid white;
            width: 11px;
            height: 11px;
            opacity: 1;
            &-active {
                background-color: white;
            }
        }
    }
}
.h-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include rp(min-height, 100vh, unset);
    &__content {
        color: $white;
        text-align: left;
        @include rsp(margin-top, 245px, null, 150px, null, 100px);
        margin-bottom: 3vw;
    }
    &__pretitle {
        @include pn;
        width: fit-content;
        @include change(font-size, 18px, 14px, $bp-m);
        line-height: 22px;
        @include change(margin-bottom, 10px, 5px, $bp-m);
        background-color: $bg-dark;
        @include rp(padding, 6px 35px, null, 6px);
    }
    &__title {
        @include pn-l;
        max-width:600px;
        @include change(font-size, 49px, 24px, $bp-m);
        @include change(margin-bottom, 10px, 5px, $bp-m);
        &-text {
            box-decoration-break: clone;
            background-color: $bg-dark;
            @include change(line-height, 57px, 38px, $bp-m);
            @include change(padding, 0 35px, 5px, $bp-m);
        }
    }
    &__descr {
        max-width: 400px;
        @include pn;
        @include change(font-size, 22px, 16px, $bp-m);
        @include change(line-height, 32px, 16px, $bp-m);
        background-color: $bg-dark;
        @include rp(padding, 10px 35px, null, 6px);
    }
    &__button {
        display: inline-block;
        margin-bottom: 110px;
    }
}
