@mixin hover () {
    @media screen and (min-width: $bp-xl) {
        &:hover {
            @content;
        }
    }
    @media screen and (max-width: $bp-xl) {
        &:active {
            @content;
        }
    }
}

@mixin rsp($key, $default, $xxl:null, $xl:null, $l:null, $m:null, $s:null, $xs:null) {
    #{$key}: $default;
    @media screen and (max-width: $bp-xxl) {
        #{$key}: $xxl;
    }
    @media screen and (max-width: $bp-xl) {
        #{$key}: $xl;
    }
    @media screen and (max-width: $bp-l) {
        #{$key}: $l;
    }
    @media screen and (max-width: $bp-m) {
        #{$key}: $m;
    }
    @media screen and (max-width: $bp-s) {
        #{$key}: $s;
    }
    @media screen and (max-width: $bp-xs) {
        #{$key}: $xs;
    }
}

@mixin rp($key, $default, $xl:null, $m:null) {
    #{$key}: $default;
    @media screen and (max-width: $bp-xl) {
        #{$key}: $xl;
    }
    @media screen and (max-width: $bp-m) {
        #{$key}: $m;
    }
}

@mixin hide($bp) {
    @media screen and (max-width: $bp) {
        display: none;
    }
}

@mixin show($bp) {
    @media screen and (max-width: $bp) {
        display: block;
    }
}

@mixin show-dib($bp) {
    @media screen and (max-width: $bp) {
        display: inline-block;
    }
}

@mixin show-di($bp) {
    @media screen and (max-width: $bp) {
        display: inline;
    }
}

@mixin show-flex($bp) {
    @media screen and (max-width: $bp) {
        display: flex;
    }
}

@mixin change($key, $default, $new, $bp) {
    #{$key}: $default;
    @media screen and (max-width: $bp) {
        #{$key}: $new;
    }
}

@mixin padding-top($default, $lg:null, $md:null, $sm:null, $xsm:null) {
    padding-top: #{$default};
    @media (max-width: 575px) {
        padding-top: #{$xsm};
    }
    @media (max-width: 767px) {
        padding-top: #{$sm};
    }
    @media (max-width: 959px) {
        padding-top: #{$md};
    }
    @media (max-width: 1279px) {
        padding-top: #{$lg};
    }
}

@mixin blackout($pseudo, $opacity, $color, $z) {
    &:#{$pseudo} {
        content: '';
        position: absolute;
        display: block;
        background-color: $color;
        opacity: $opacity;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: $z;
    }
}

@mixin hamburger($width, $height, $modificator, $transition, $color, $breakpoint, $lines-width) {
    position: relative;
    display: none;
    border-top: $lines-width solid $color;
    border-bottom: $lines-width solid $color;
    transition: $transition;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: $lines-width;
        background-color: $color;
        transform: rotate(0deg) translateY(-50%);
        transform-origin: 50% 50%;
        transition-delay: .2s;
        transition: $transition;
    }
    &--#{$modificator} {
        transform: rotate(90deg);
        border-top: $lines-width solid rgba(0, 0, 0, .0);
        border-bottom: $lines-width solid rgba(0, 0, 0, .0);
        border-radius: 10px;
        overflow: visible;
        &:before {
            transform: translateY(-50%) rotate(45deg);
        }
        &:after {
            transform: translateY(-50%) rotate(-45deg);
        }
    }
    @media screen and (max-width: $breakpoint) {
        display: block;
    }
}

@mixin cnt {
    margin-left: auto;
    margin-right: auto;
}