//==Colors==
$white: #f8f8f9;
$text: #000;
$primary: #009999;
$bg-light: #f3f4f5;
$gray-light: #ccc;
$gray-dark: #999;
$gray-darkest: #666;
$bg-dark: rgba(0,0,0,0.7);
$header-hover: #0a0807;
//==Breakpoints==
$bp-xs: 375px;
$bp-s: 575px;
$bp-m: 767px;
$bp-l: 959px;
$bp-xl: 1279px;
$bp-xxl: 1599px;
//==Special-breakpoints
$collapse-top-menu: $bp-l;
//==Z-index==
$z-zero: 0;
$z-bottom: 10;
$z-middle: 20;
$z-top: 30;
$z-modal: 40;
//==Trans ==
$tr-fast: 0.3s;
$tr-slow: 0.7s;