@import '_mixins';
@import '_vars';
@import '_reset';
@import '_fonts';
@import '_common';
@import '../../node_modules/swiper/dist/css/swiper';
@import '../comp/up-btn/up-btn';
@import '../comp/header/header';
@import '../comp/h-slider/h-slider';
@import '../comp/btn-std/btn-std';
@import '../comp/title-std/title-std';
@import '../comp/video-modal/video-modal';
@import '../comp/beginning/beginning';
@import '../comp/title-small/title-small';
@import '../comp/new-work/new-work';
@import '../comp/new-works-section/new-works-section';
@import '../comp/art-news/art-news';
@import '../comp/art-news-item/art-news-item';
@import '../comp/slider-control-btn/slider-control-btn';
@import '../comp/footer/footer';
@import '../comp/review/review';
@import '../comp/review-item/review-item';
@import '../comp/btn-arrow/btn-arrow';
@import '../comp/catalog-title/catalog-title';
@import '../comp/catalog-slider/catalog-slider';
@import '../comp/catalog-filters/catalog-filters';
@import '../comp/item-breadcrumbs/item-breadcrumbs';
@import '../comp/item-works/item-works';
@import '../comp/item-card/item-card';

// * { outline: 2px dotted red !important; }
// * * { outline: 2px dotted green !important; }
// * * * { outline: 2px dotted orange !important; }
// * * * * { outline: 2px dotted blue !important; }
// * * * * * { outline: 1px solid red !important; }
// * * * * * * { outline: 1px solid green !important; }
// * * * * * * * { outline: 1px solid orange !important; }
// * * * * * * * * { outline: 1px solid blue !important; }