.header {
    --bg: rgba(0, 0, 0, 0.7);
    --text: white;
    --border: none;
    &--inverted {
        --bg: white;
        --text: black;
        --box-shadow: 0px 0px 1px #333;
    }
    color: var(--text);
    z-index: $z-top;
    width: 100%;
    @include change(background-color, var(--bg), $white, $bp-m);
    @include change(color, var(--text), black, $bp-m);
    @include change(height, 80px, 55px, $bp-m);
    @include change(border-bottom-width, 0, 1, $bp-m);
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    left: 0;
    @include pn;
    letter-spacing: 0.025em;
    line-height: 18px;
    &__row {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__logo {
        order: -2;
        @include rsp(margin-right, 80px, 0px, null, 140px, 20px);
        display: block;
        height: 100%;
        @include change(width, 112px, 35px, $bp-s);
        font-size: 24px;
        line-height: 18px;
        letter-spacing: 0.025em;
        position: relative;
        &:before {
            @include change(content, "Art", "A", $bp-s);
            @include pn-bl;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &:after {
            @include change(content, "Gallery", "G", $bp-s);
            @include pn;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
    &__user {
        cursor: pointer;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
    }
    &__user-inner {
        display: flex;
        align-items: center;
    }
    &__user-imgbox {
        width: 35px;
        height: 35px;
        position: relative;
        margin-right: 10px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__guest-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        @include change(fill, var(--text), black, $bp-m);
        z-index: $z-zero;
    }
    &__user-img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: $z-bottom;
    }
    &__user-name {
        @include hide($bp-m);
    }
    &__user-menu {
        position: absolute;
        top: 100%;
        left: 50%;
    }
    &__stats {
        position: relative;
        padding-right: 10px;
    }
    &__stats-icon {
        width: 22px;
        height: 22px;
        fill: transparent;
        @include change(stroke, var(--text), black, $bp-m);
        stroke-width: 2px;
    }
    &__stats-number {
        color: white;
        display: block;
        padding: 2px 2px;
        position: absolute;
        border-radius: 5px;
        top: 0;
        right: 0;
        font-size: 10px;
        line-height: 10px;
        background-color: #999;
    }
    &__search {
        cursor: pointer;
    }
    &__search-icon {
        width: 22px;
        height: 22px;
        @include change(fill, var(--text), black, $bp-m);
        @include change(stroke, var(--text), black, $bp-m);
    }
    &__search-window {
        display: none;
        position: absolute;
        @include rp(padding, 35px 30px, null, 15px 10px);
        top: 100%;
        left: 0;
        background-color: #9febeb;
        width: 100%;
    }
    &__search-item {
        display: block;
        margin: 0 auto;
        max-width: 900px;
        position: relative;
    }
    &__search-input {
        display: block;
        width: 100%;
        left: 0;
        right: 0;
        @include pn-l;
        outline: none;
        border: none;
        font-size: 24px;
        font-weight: 300;
        color: #666666;
        @include rp(padding, 25px 100px 25px 25px, null, 10px 80px 10px 10px);
    }
    &__search-close {
        cursor: pointer;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        @include rp(right, 100px, null, 60px);
        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background-color: #666;
            top: 50%;
            left: 0;
            transform-origin: center center;
        }
        &:after {
            transform: translate(0%, -50%) rotate(45deg);
        }
        &:before {
            transform: translate(0%, -50%) rotate(-45deg);
        }
    }
    &__search-submit {
        display: block;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: transparent;
        position: absolute;
        top: 50%;
        @include rp(right, 40px, null, 10px);
        right: 40px;
        transform: translate(0%, -50%);
    }
    &__submit-icon {
        width: 25px;
        height: 25px;
        stroke: #666;
    }
    &__lang {
        @include hide($bp-m);
        cursor: pointer;
        height: 100%;
        position: relative;
        width: 50px;
    }
    &__lang-current {
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__lang-menu {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    &__topmenu {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    &__copy {
        display: none;
        @include pn-l;
        @include show($bp-m);
        background-color: #ccc;
        font-size: 12px;
        line-height: 70px;
        color: #333333;
        text-align: center;
        margin-bottom: 55px;
    }
    &__bottommenu {
        &-wrapper {
            background-color: $white;
            @include change(padding, 20px 0 20px, 20px 0 0px, $bp-m);
        }
        & .container {
            height: auto;
        }
        position: fixed;
        z-index: $z-middle;
        @include change(width, 100vw, 90vw, $bp-m);
        @include change(height, auto, 100vh, $bp-m);
        overflow: auto;
        @include change(top, 80px, 55px, $bp-m);
        left: 0;
        color: $text;
        background-color: transparent;
        display: none;
        &:hover {
            display: block;
        }
    }
    &__menu-item {
        align-items: center;
        @include change(height, 100%, unset, $bp-m);
        @include change(margin-right, 20px, 0px, $bp-xl);
        &--top {
            @include rsp(display, flex, null, null, none);
        }
        &--bottom {
            @include rsp(display, none, null, null, inline-block, block);
            margin-left: -30px;
            margin-right: 30px;
            @media screen and (max-width: $bp-xl) {
                margin-left: -20px;
                margin-right: 20px;
            }
            @media screen and (max-width: $bp-l) {
                margin-left: unset;
            }
        }
        &--non-transfer {
            @include change(display, inline-block, block, $bp-m);
            margin-left: -30px;
            margin-right: 30px;
            @media screen and (max-width: $bp-xl) {
                margin-left: -20px;
                margin-right: 20px;
            }
            @media screen and (max-width: $bp-l) {
                margin-left: unset;
            }
        }
        &--end-mobile {
            @include change(margin-bottom, 0px, 30px, $bp-m);
            position: relative;
            &:after {
                @include change(content, none, '', $bp-m);
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #2e3237;
                left: 0;
                bottom: -15px;
            }
        }
        &--lang {
            @include rsp(display, none, null, null, null, block);
        }
        &--more {
            order: 0;
            display: flex;
            transition: background-color $tr-fast;
            cursor: pointer;
            position: relative;
            &:hover {
                &>.header__bottommenu {
                    display: block;
                }

                &:before {
                    display: block;
                    @include hide($collapse-top-menu);
                }
                &>a {
                    background-color: $header-hover;
                    color: $white;
                    &:after {
                        border-right: 2px solid white;
                        border-bottom: 2px solid white;
                    }
                }
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: 15px solid $white;
                border-top: 15px solid transparent;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                display: none;
                @include hide($collapse-top-menu);
            }
            &:hover+.header__bottommenu {
                display: block;
            }
        }
    }
    &__menu-link {
        display: block;
        transition: background-color $tr-fast;
        &:hover {
            background-color: $header-hover;
            color: $white;
            &:after {
                border-right: 2px solid white;
                border-bottom: 2px solid white;
            }
        }
        padding: 12px 20px;
        &--more {
            padding-right: 47px;
            @include hide($bp-l);
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 23px;
                width: 7px;
                height: 7px;
                //margin-left: 5px;
                border-right: 2px solid var(--text);
                border-bottom: 2px solid var(--text);
                transform: translateY(-50%) rotate(45deg);
                transform-origin: center;
                @include hide($collapse-top-menu);
            }
        }
    }
}
.user-menu {
    font-size: 17px;
    color: #2e3237;
    background-color: #fff;
    @include rp(transform, translateX(-50%), null, translateX(-43%));
    transform: translateX(-50%);
    padding: 20px 20px 40px;
    white-space: nowrap;
    display: none;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        border-bottom: 15px solid $white;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
    &__item {
        padding: 10px 20px;
        transition: $tr-fast;
        &--end {
            margin-bottom: 30px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #2e3237;
                left: 0;
                bottom: -15px;
            }
        }
        &:hover {
            color: white;
            background-color: #2e3237;
        }
    }
    &__out {
        border: none;
        background-color: transparent;
        font-size: 17px;
        color: #2e3237;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    &__out-icon {
        display: inline-block;
        width: 24px;
        height: 18px;
        transform: scale(-1);
        fill: #2e3237;
    }
}
.lang-menu {
    font-size: 17px;
    color: #2e3237;
    background-color: $white;
    display: none;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        border-bottom: 15px solid $white;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
    &__list {
        padding: 20px;
    }
}
//==== E -> X ==== 
$h1_height: 15px;
$h1_width: 20px;
$h1_deg: 43;
$h1_thickness: 2px;
$h1_time: .2s;
.header__hamburger {
    order: -5;
    display: none;
    @include show($bp-l);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: $h1_height;
    width: $h1_width;
    & span {
        border-radius: $h1_thickness / 2;
        height: $h1_thickness;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        transition: transform $h1_time, opacity $h1_time;
        transform-origin: 50% 0%;
    }
    & span:nth-child(n) {
        @include change(background-color, var(--text), black, $bp-m);
    }
    & span:nth-child(1) {
        opacity: 1;
        top: 0%;
        transform: rotate(0deg);
    }
    & span:nth-child(2) {
        top: 50%;
        transform: translate(0%, -50%);
    }
    & span:nth-child(3) {
        top: 50%;
        transform: translate(0%, -50%);
    }
    & span:nth-child(4) {
        opacity: 1;
        bottom: 0%;
        transform: rotate(0deg);
    }
    //---Opened state
    &--active span:nth-child(1) {
        opacity: 0;
        transform: translate(-100%, 0%);
    }
    &--active span:nth-child(2) {
        transform: rotate(#{$h1_deg}deg) translate(0%, -50%);
    }
    &--active span:nth-child(3) {
        transform: rotate(-#{$h1_deg}deg) translate(0%, -50%);
    }
    &--active span:nth-child(4) {
        opacity: 0;
        transform: translate(100%, 0%);
    }
}
//--POPUPS
.popups {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    overflow: auto;
    &__window {
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 7% auto;
        width: fit-content;
        height: fit-content;
        z-index: $z-modal;
    }
    &__close {
        position: absolute;
        @include change(top, 10px, -5px, $bp-m);
        @include change(right, 10px, 5px, $bp-m);
        @include change(width, 45px, 30px, $bp-m);
        @include change(height, 45px, 30px, $bp-m);
        cursor: pointer;
        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            background-color: black;
            @include change(width, 25px, 17px, $bp-m);
            @include change(height, 5px, 4px, $bp-m);
            transform-origin: center;
            top: 20px;
            left: 10px;
            cursor: pointer;
        }
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }
    &__item {
        display: none;
        @include rp(padding, 45px 40px 40px 40px, null, 30px 20px 20px 20px);
        color: black;
        width: 860px;
        @media screen and (max-width: $bp-l) {
            width: 85vw;
        }
        @media screen and (max-width: $bp-m) {
            width: 95vw;
        }
        &--small {
            @include rp(max-width, 530px, 360px, null);
            @include rp(padding, 35px 45px 30px 45px, null, 30px 20px 20px 20px);
        }
    }
}
.popup {
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: black;
            width: 40px;
            height: 1px;
            top: 100%;
            @include change(left, 0, 50%, $bp-m);
            @include change(transform, translate(0%, 0%), translate(-50%, 0%), $bp-m);
        }
        &--center {
            justify-content: center;
            &:after {
                left: 50%;
                transform: translate(-50%, 0%);
            }
        }
        &--padding-bottom {
            padding-bottom: 20px;
            @include change(display, flex, block, $bp-m);
        }
    }
    &__title {
        @include pn-l;
        @include rp(font-size, 36px, 24px, null);
        @include change(padding, 15px 0 15px 0, 0 0 20px 0, $bp-m);
        line-height: 1.25;
        @include change(text-align, left, center, $bp-m);
        @include change(width, unset, 100%, $bp-m);
    }
    &__subtitle {
        display: block;
        @include change(padding-top, 20px, 10px, $bp-m);
        margin-bottom: -20px;
        @include change(font-size, 14px, 12px, $bp-l);
        color: #999;
    }
    &__body {
        padding-top: 30px;
        display: flex;
        @include change(flex-direction, row, column-reverse, $bp-m);
        width: 100%;
    }
    &__social {
        @include change(padding-right, 45px, 0px, $bp-m);
        @include change(border-right, 1px solid #ccc, none, $bp-m);
        flex-shrink: 0;
        &-text {
            @include change(font-size, 18px, 14px, $bp-xl);
            margin-bottom: 10px;
            @include change(text-align, left, center, $bp-m);
            @include change(margin-top, 0, 25px, $bp-m);
            @include change(padding-top, 0, 25px, $bp-m);
            @include change(border-top, none, 1px solid #ccc, $bp-m);
        }
        &-link {
            @include change(font-size, 19px, 14px, $bp-xl);
            display: block;
            @include change(max-width, 100%, 80%, $bp-m);
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #ccc;
            border-radius: 30px;
            position: relative;
            @include change(padding, 11px 20px 11px 90px,  5px 50px 5px 60px, $bp-xl);
            @include change(margin-bottom, 14px, 12px, $bp-xl);
        }
        &-icon {
            @include change(width, 22px, 18px, $bp-xl);
            @include change(height, 22px, 18px, $bp-xl);
            fill: black;
            position: absolute;
            @include change(top, 20%, 18%, $bp-xl);
            @include change(left, 40px, 25px, $bp-xl);
        }
    }
}
.popup-aside {
    & span {
        @include pn;
        @include change(font-size, 14px, 12px, $bp-xl);
        color: #999;
    }
    & button,
    & a {
        
        padding: 0;
        margin-right: 5px;
        margin-left: 10px;
        @include pn;
        @include change(font-size, 14px, 12px, $bp-xl);
        color: #999;
        border: none;
        background-color: transparent;
        border-bottom: 1px dotted #999;
        cursor: pointer;
        transition: color $tr-fast;
        @include hover {
            color: $primary;
            border-color: $primary;
        }
    }
    &--bottom {
        align-self: flex-end;
        @include change(text-align, left, center, $bp-m);
    }
    &--center {
        margin-top: 20px;
        text-align: center;
        @include change(display, block, flex, $bp-m);
        justify-content: space-between;
    }
}
.form {
    width: 100%;
    &-item {
        display: block;
        margin-bottom: 30px;
        @include rp(margin-bottom, 5px);
        position: relative;
        width: 100%;
    }
    &-input {
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        @include pn;
        font-size: 16px;
        @include change(padding, 10px, 5px, $bp-xl);
        position: relative;
        margin-bottom: 7px;
    }
    &-text {
        @include change(font-size, 17px, 14px, $bp-xl);
        display: block;
        margin-bottom: 5px;
    }
    &-submit {
        width: 100%;
        &.big-button {
            margin-top: 25px;
        }
    }
}
.auth {
    &__form {
        @include change(padding-left, 45px, 0px, $bp-m);
        width: 100%;
    }
}
.reg {
    &__inputs {
        @include change(padding-left, 45px, 0px, $bp-m);
        width: 100%;
        flex-grow: 1;
    }
    &__choice {
        display: flex;
        @include change(justify-content, center, flex-start, $bp-xs);
        align-items: center;
        @include change(border-bottom, 1px solid #ccc, none, $bp-m);
        @include change(margin-bottom, -10px, -30px, $bp-m);
        @include change(margin-left, 0px, -20px, $bp-m);
        &-label {
            @include change(margin-left, 50px, 40px, $bp-m);
            cursor: pointer;
        }
        &-check:checked+span {
            &:before {
                content: '';
            }
        }
        &-text {
            @include pn-sb;
            @include change(font-size, 17px, 14px, $bp-l);
            @include change(line-height, 60px, 40px, $bp-m);
            position: relative;
            display: block;
            &:after {
                content: '';
                position: absolute;
                display: block;
                top: 50%;
                transform: translate(0%, -50%);
                @include change(left, -25px, -22px, $bp-m);
                width: 17px;
                height: 17px;
                border: 2px solid $primary;
                border-radius: 50%;
            }
            &:before {
                content: none;
                position: absolute;
                border: 1px solid $primary;
                background-color: $primary;
                border-radius: 50%;
                width: 7px;
                height: 7px;
                top: 50%;
                transform: translate(0%, -50%);
                @include change(left, -20px, -17px, $bp-m);
            }
        }
    }
    &__text {
        margin-bottom: 10px;
        @include change(font-size, 18px, 14px, $bp-xl);
    }
    &__userdata {
        @include change(display, flex, block, $bp-m);
        width: 100%;
        justify-content: space-between;
        & label {
            display: block;
            @include change(width, 47%, 100%, $bp-m);
        }
    }
    &__agree {
        display: block;
        margin-bottom: 30px;
        cursor: pointer;
        &-input:checked~span {
            &:after {
                content: '';
            }
        }
        &-text {
            @include pn;
            @include change(font-size, 14px, 12px, $bp-xl);
            color: #999;
            position: relative;
            padding-left: 25px;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 15px;
                height: 15px;
                border: 2px solid $primary;
            }
            &:after {
                content: none;
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg width='117' height='88' viewBox='0 0 117 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37 85.5L2 48.5C-0.4 45.9629 0.333333 43.7762 1 43C2.5 41.1667 6.02911 36.3677 9.5 35.5C11.5 35 13.5 35.5 14.5 36.5C15.4056 37.4055 34.5 58.5 37.5 61C40.5 63.5 42.3333 63.1667 43.5 62C62.6667 41.8333 101.4 1.3 103 0.5C104.6 -0.3 106.667 0.166667 107.5 0.5C109.333 1.83333 113.5 5.1 115.5 7.5C117.5 9.9 116.333 12.1667 115.5 13C93.3333 35.5 48.2 81.5 45 85.5C41.8 89.5 38.3333 87.1667 37 85.5Z' fill='%23009999'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                height: 15px;
                width: 15px;
                top: -2px;
                left: 3px;
            }
        }
        &-link {
            padding: 0;
            border-bottom: 1px dotted #999;
            transition: color $tr-fast;
            @include hover {
                color: $primary;
                border-bottom-color: $primary;
            }
        }
    }
}
.pass {
    &__content {
        margin-top: 30px;
    }
}
.success {
    &__text {
        @include pn;
        @include change(font-size, 17px, 14px, $bp-xl);
        color: black;
        @include change(padding,
        35px 60px 30px 60px,
        20px,
        $bp-xl);
        width: 100%;
        text-align: center;
    }
    &__img {
        display: block;
        @include rp(height,
        130px,
        100px,
        90px);
        @include rp(width,
        130px,
        100px,
        90px);
        margin: 10px auto;
    }
}
label.error {
    color: #990000;
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 1.25;
}
input.error {
    border-color: #990000;
}
input.error~ span {
    color: #990000 ;
}
.reg__agree label.error {
    display: none !important;
}