mixin header (modclass = '', authorized=false)
    - var auth = authorized ? 'js-header-user' : 'js-header-guest'
    header(class="header js-fixed" + modclass)
        .container.relative.flex.jcsb.aic
            .header__hamburger.js-hamburger
                span
                span
                span
                span
            a.header__logo(href="index.html")
            nav.header__topmenu.js-header-topmenu
                .header__menu-item.js-menu-item.header__menu-item--top
                    a(href="catalog.html").header__menu-link Каталог
                .header__menu-item.js-menu-item.header__menu-item--top
                    a(href="#").header__menu-link Художникам
                .header__menu-item.js-menu-item.header__menu-item--top
                    a(href="#").header__menu-link Блог
                .header__menu-item.header__menu-item--more
                    a.header__menu-link.header__menu-link--more.js-more Еще
                    nav.header__bottommenu.js-header-bottom
                        .header__bottommenu-wrapper
                            .container
                                .header__menu-item.js-menu-item.header__menu-item--bottom
                                    a(href="catalog.html").header__menu-link Каталог
                                .header__menu-item.js-menu-item.header__menu-item--bottom
                                    a(href="#").header__menu-link Художникам
                                .header__menu-item.js-menu-item.header__menu-item--bottom
                                    a(href="#").header__menu-link Блог
                                .header__menu-item.js-menu-item.header__menu-item--non-transfer
                                    a(href="#").header__menu-link О проекте
                                .header__menu-item.js-menu-item.header__menu-item--non-transfer.header__menu-item--end-mobile
                                    a(href="#").header__menu-link Доставка
                                .header__menu-item.js-menu-item.header__menu-item--non-transfer
                                    a(href="#").header__menu-link Политика конфиденциальности
                                .header__menu-item.js-menu-item.header__menu-item--lang
                                    a(href="#").header__menu-link Английская версия
                            .header__copy &copy; Artgallery, 2020
            div(class='header__user ' + auth)
                .header__user-inner
                    .header__user-imgbox
                        <svg class="header__guest-img" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.7782 14.2218C17.5801 13.0237 16.1541 12.1368 14.5982 11.5999C16.2646 10.4522 17.3594 8.53136 17.3594 6.35938C17.3594 2.85282 14.5066 0 11 0C7.49345 0 4.64062 2.85282 4.64062 6.35938C4.64062 8.53136 5.73543 10.4522 7.40188 11.5999C5.84598 12.1368 4.41994 13.0237 3.22184 14.2218C1.14421 16.2995 0 19.0618 0 22H1.71875C1.71875 16.8823 5.88229 12.7188 11 12.7188C16.1177 12.7188 20.2812 16.8823 20.2812 22H22C22 19.0618 20.8558 16.2995 18.7782 14.2218ZM11 11C8.44117 11 6.35938 8.91825 6.35938 6.35938C6.35938 3.8005 8.44117 1.71875 11 1.71875C13.5588 1.71875 15.6406 3.8005 15.6406 6.35938C15.6406 8.91825 13.5588 11 11 11Z"/>
                        </svg>
                        if(authorized)
                            img.header__user-img(src="img/alex.png", alt="Аватар")
                    if(authorized)
                        .header__user-name Александрелло
                .header__user-menu.user-menu.js-user-menu
                    ul.user-menu__list
                        li.user-menu__item
                            a.user-menu__link Мой профиль
                        li.user-menu__item
                            a.user-menu__link Мои заказы
                        li.user-menu__item.user-menu__item--end
                            a.user-menu__link Сообщения
                        li.user-menu__item
                            a.user-menu__link Настройки профиля
                        li.user-menu__item.user-menu__item--end
                            a.user-menu__link Мои работы
                    button.user-menu__out
                        svg.user-menu__out-icon
                            use(xlink:href="#logout")
                        span.user-menu__out-text Выйти
            a.header__stats
                svg.header__stats-icon
                    use(xlink:href="#favor")
                span.header__stats-number 8554
            a.header__stats
                svg.header__stats-icon
                    use(xlink:href="#cart")
                span.header__stats-number 23
            .header__search
                svg.header__search-icon.js-header-search
                    use(xlink:href="#search")
            .header__lang.js-header-lang
                .header__lang-current Ru
                .header__lang-menu.lang-menu.js-lang-menu
                    ul.lang-menu__list
                        li.lang-menu__item
                            a.lang-menu__link English 
        .header__search-window.js-header-search-window
            form.header__search-item
                input.header__search-input.js-header-search-input(type="text" placeholder="Поиск..." autofocus)
                .header__search-close.js-header-search-close
                button.header__search-submit.js-header-search-submit
                    svg.header__submit-icon
                        use(xlink:href="#search")
        .header__popups.popups.js-popups.js-fixed
            .popups__window.js-popup-window
                .popups__close.js-popups-close
                .popups__reg.reg.popups__item
                    .popup__header.popup__header--padding-bottom
                        .popup__title Регистрация
                            span.popup__subtitle Это бесплатно и займет не более 3 минут
                        .popup-aside.popup-aside--bottom
                            span Уже зарегистрированы?
                            button.js-go-to-auth Авторизоваться
                    form.reg__form(action="#" method="POST").js-form-reg
                        .reg__choice
                            label.reg__choice-label
                                input.reg__choice-check.visually-hidden(type="radio" name='choice' checked)
                                span.reg__choice-text Я художник
                            label.reg__choice-label
                                input.reg__choice-check.visually-hidden(type="radio" name='choice')
                                span.reg__choice-text Я покупатель
                        .popup__body
                            .popup__social
                                p.popup__social-text С помощью социальных сетей
                                a(href="#").popup__social-link VKontakte
                                    svg.popup__social-icon
                                        use(xlink:href="#vk")
                                a(href="#").popup__social-link Facebook
                                    svg.popup__social-icon
                                        use(xlink:href="#fb")
                                a(href="#").popup__social-link Olnoklassniki
                                    svg.popup__social-icon
                                        use(xlink:href="#odnokl")
                                a(href="#").popup__social-link Google+
                                    svg.popup__social-icon
                                        use(xlink:href="#google")
                            .reg__inputs
                                p.reg__text.hide-mobile С помощью E-mail
                                .reg__userdata
                                    label.form-item
                                        span.form-text Имя
                                        input(type="text" name="name" required).form-input
                                    label.form-item
                                        span.form-text Фамилия
                                        input(type="text" name="surname" required).form-input
                                label.form-item
                                    span.form-text Email
                                    input(type="email" name="email" required).form-input
                                label.form-item
                                    span.form-text Пароль
                                    input(type="password" name="password" required).form-input
                                label.reg__agree
                                    input.visually-hidden.reg__agree-input(type="checkbox" name='agree' required)
                                    span.reg__agree-text Я согласен с <a href="#" class="reg__agree-link">пользовательским соглашением</a>
                                button.form-submit.big-button Зарегистрироваться
                .popups__auth.auth.popups__item
                    .popup__header
                        .popup__title Авторизация
                        .popup-aside.hide-mobile
                            span Еще нет аккаунта?
                            button.js-go-to-reg Зарегистрироваться
                    .popup__body
                        .popup__social
                            p.popup__social-text С помощью социальных сетей
                            a(href="#").popup__social-link VKontakte
                                svg.popup__social-icon
                                    use(xlink:href="#vk")
                            a(href="#").popup__social-link Facebook
                                svg.popup__social-icon
                                    use(xlink:href="#fb")
                            a(href="#").popup__social-link Olnoklassniki
                                svg.popup__social-icon
                                    use(xlink:href="#odnokl")
                            a(href="#").popup__social-link Google+
                                svg.popup__social-icon
                                    use(xlink:href="#google")
                        form.auth__form(action="#" method="POST").js-form-auth
                            label.form-item
                                span.form-text E-mail
                                input(type="email" name="email" required).form-input
                            label.form-item
                                span.form-text Пароль
                                input(type="password" name="password" required).form-input
                            button.form-submit.big-button Авторизоваться
                            .popup-aside.popup-aside--center
                                span.hide-mobile Забыли пароль?
                                a.js-go-to-reg.show-mobile Зарегистрироваться 
                                a.js-go-to-pass Восстановить пароль
                .popups__pass.pass.popups__item.popups__item--small
                    .popup__header.popup__header--center
                        .popup__title Восстановить пароль
                    form(action="#" method="POST").pass__content.js-form-pass
                        label.form-item
                            span.form-text Введите свой e-mail
                            input(type="email" name="email" required).form-input
                        button.form-submit.big-button Восстановить пароль
                        .popup-aside.popup-aside--center
                            span Вспомнили пароль?
                            a.js-go-to-auth  Авторизоваться
                .popups__success.success.popups__item.popups__item--small
                    .popup__header.popup__header--center
                        .popup__title Успех!
                    p.success__text Мы отправили на ваш e-mail инструкцию по сбросу пароля
                    svg.success__img
                        use(xlink:href="#success")
