.art-news {
    background-color: #f3f4f5;
    @include rp(padding-top, 60px, 25px, null);
    @include rp(padding-bottom, 100px, 55px, 25px);
    position: relative;
    &__title {
        @include rp(margin-bottom, 45px, 15px, null);
    }   
    &__slider-controls {
        @include change(position, absolute, static, $bp-m);
        @include rp(top, -110px, -80px, null);
        right: 30px;
        display: flex;
        justify-content: space-between;
        width: 120px;
        margin: 0 auto 15px;
    }
}
