mixin art-news()
    section.art-news
        +title-std('Новости искусства', 'art-news__title')
        .container.relative
            .art-news__slider-controls
                +slider-control-btn('art-news__prev', 'js-prev', 'slider-control-btn--prev')
                +slider-control-btn('art-news__next', 'js-next')
            .art-news__inner.js-news-slider.swiper-container
                .art-news__items.swiper-wrapper
                    +art-news-item({
                        src: 'img/new1.jpg',
                        rubric: 'Галереи и выставки',
                        date: '21.12.2020',
                        title: 'Обзор нашего эксперта Владимира Рубинштейна-Загорского',
                        text: 'Теперь, чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.'
                    }, 'swiper-slide')  
                    +art-news-item({
                        src: 'img/new2.jpg',
                        rubric: 'Коллекционирование',
                        date: '18.12.2020',
                        title: 'Обзор нашего эксперта Иосифа Сталина',
                        text: 'Чтобы расстрэлять художника, не обязательно нужно смотрэть на его картыну.'
                    }, 'swiper-slide')
                    +art-news-item({
                        src: 'img/new1.jpg',
                        rubric: 'Галереи и выставки',
                        date: '21.12.2020',
                        title: 'Обзор нашего эксперта Владимира Рубинштейна-Загорского',
                        text: 'Теперь, чтобы увидеть и сравнить все 36 картин культового голландца, не нужно объезжать весь мир.'
                    }, 'swiper-slide')  
                    +art-news-item({
                        src: 'img/new2.jpg',
                        rubric: 'Коллекционирование',
                        date: '18.12.2020',
                        title: 'Обзор нашего эксперта Иосифа Сталина',
                        text: 'Чтобы расстрэлять художника, не обязательно нужно смотрэть на его картыну.'
                    }, 'swiper-slide')        