.item-card {
    @include rp(padding-top, 46px, 32px, 20px);
    @include rp(padding-bottom, 150px, 32px, 20px);
    &__inner {
        @include change(display, flex, block, $bp-m);
        justify-content: space-between;
    }
    &__column-left {
        @include rp(margin-right, 44px, 24px, 0);
        text-align: center;
    }
    &__column-right {
        @include rp(width, 46%, 53%, 100%);
    }
    &__content {
        width: 100%;
    }
}
.actions {
    display: flex;
    flex-wrap: wrap;
    @include change(padding-top, 35px, 20px, $bp-xl);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    @include hide($bp-m);
    &__item {
        cursor: pointer;
        text-align: left;
        padding-left: 40px;
        max-width: 50%;
        width: 100%;
        position: relative;
        background-color: transparent;
        border: none;
        @include pn;
        font-size: 15px;
        padding-bottom: 35px;
        transition: color $tr-fast;
        @include hover {
            color: $primary;
            & svg {
                fill: $primary;
            }
        }
        &--liked {
            &:after {
                content: attr(data-liked);
            }
        }
        &--right {
            text-align: right;
        }
    }
    &__text {
        position: relative;
    }
    &__icon {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: -40px;
        @include change(transform, scale(1.3), scale(1), $bp-xl);
        transition: fill $tr-fast;
    }
}
.content {
    &__title {
        @include rp(font-size, 30px, 24px, 20px);
        @include rp(margin-bottom, 20px, null, 10px);
        &--hide {
            @include hide($bp-m);
        }
        &--show {
            display: none;
            @include show($bp-m);
        }
    }
    &__assets {
        @include rp(margin-bottom, 15px, null, null);
        @include hide($bp-m);
    }
    &__author {
        color: #333;
        display: inline-block;
        width: fit-content;
        @include rp(margin-bottom, 20px, null, null);
        @include rp(text-align, left, null, center);
        transition: color $tr-fast;
        @include hover {
            color: $primary;
        }
        &--hide {
            @include hide($bp-m);
        }
        &--show {
            display: none;
            @include show-dib($bp-m);
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #ccc;
        }
    }
    &__info {
        @include rp(margin-bottom, 15px, null, null);
    }
    &__purchase {
        margin-bottom: 20px;
    }
    &__social {
        display: flex;
        @include change(justify-content, flex-end, space-around, $bp-m);
        margin-bottom: 20px;
        @include change(margin-top, 0, 20px, $bp-m);
        &-link {
            display: block;
            width: 44px;
            height: 44px;
            border: 1px solid #dfdfdf;
            border-radius: 50%;
            position: relative;
            transition: background-color $tr-fast;
            &:not(:last-child){
                margin-right: 10px;
            }
            @include hover {
                background-color: #333;
                & svg {
                    fill: white;
                }
            }
        }
        &-icon {
            width: 23px;
            height: 23px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: #666;
            transition: fill $tr-fast;
        }
    }
}
.assets {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    &__code {
        color: #c6c6c6;
    }
    &__favor {
        @include pn;
        text-align: right;
        font-size: 15px;
        color: #2e3237;
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        transition: color $tr-fast;
        &:after {
            content: 'В избранное';
        }
        @include hover {
            color: $primary;
            & svg {
                stroke: $primary;
            }
        }
        &-icon {
            fill: none;
            stroke: #2e3237;
            stroke-width: 2px;
            position: absolute;
            top: 0;
            right: 65px;
            transition: stroke $tr-fast;
        }
        &.active {
            color: $primary;
            &:after {
                content: 'В избранном';
            }
            & svg {
                fill: $primary;
                stroke: $primary;
            }
        }
    }
}
.info {
    font-size: 15px;
    @include change(display, flex, block, $bp-xl);
    &__item {
        margin-right: 40px;
        margin-bottom: 10px;
    }
    &__key {
        color: #858585;
    }
    &__value {
        color: #5c5c5c;
        &--link {
            display: inline-block;
            transition: color $tr-fast;
            @include hover {
                color: $primary;
            }
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: #ccc;
            }
        }
    }
}
.purchase {
    display: flex;
    justify-content: space-between;
    &__price {
        flex-shrink: 0;
        position: relative;
        top: 10px;
        margin-right: 10px;
        @include rp(font-size, 30px, null, 24px);
        &-new {
            display: block;
            margin-bottom: 5px;
            & span {
                font-size: 24px;
            }
        }
        &-old {
            display: block;
            color: #c5c5c5;
            @include rp(font-size, 19px, null, 16px);
            text-decoration: line-through;
        }
    }
    &__button {
        max-width: 390px;
        &:before {
            @include change(content, 'Добавить в корзину', 'В корзину', $bp-xl);
            white-space: nowrap;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.buttons {
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
    @include show-flex($bp-m);
    &__item {
        text-align: center;
        width: 49.5%;
        display: inline-block;
        background-color: transparent;
        border: none;
        @include pn;
        font-size: 13px;
        cursor: pointer;
        border: 1px solid #ddd;
        padding: 6px 5px;
        margin-bottom: 5px;
        &-text {
            display: inline-block;
            position: relative;
            padding-left: 30px;
        }
        &-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 17px;
            height: 17px;
        }
    }
}
.descr {
    border-bottom: 1px solid #cfcece;
    &__title {
        cursor: pointer;
        border-top: 1px solid #cfcece;
        line-height: 55px;
        font-size: 18px;
        position: relative;
    }
    &__content {
        width: 100%;
        font-size: 15px;
        @include rp(font-size, 15px, null, 14px);
        margin-bottom: 20px;
        & tr:nth-child(odd) {
            background-color: #f7f7f7;
        }
        & td {
            padding: 10px 5px;
        }
    }
    &__content-text {
        @include rp(font-size, 15px, null, 14px);
        line-height: 25px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
}
.slider {
    display: flex;
    justify-content: flex-start;
    @include change(flex-direction, row, column-reverse, $bp-m);
    @include change(align-items, flex-start, center, $bp-m);
    &__carousel {
        @include change(max-width, 85px, unset, $bp-m);
        flex-shrink: 0;
        @include change(width, fit-content, 170px, $bp-m);
        @include change(margin-right, 10px, 0, $bp-m);
        @include change(margin-bottom, 0, 10px, $bp-m);
        @include change(margin-top, 0, 10px, $bp-m);
        @include rp(height, 275px, 170px, 60px);
        overflow: hidden;
        &-imgbox {
            @include rp(width, 85px !important, 50px !important, null);
            @include rp(height, 85px !important, 50px !important, null);
            position: relative;
            border: 2px solid transparent;
            cursor: pointer;
        }
        &-img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            object-position: center center;
            width: 100%;
            height: 100%;
        }
    }
    &__main {
        @include rp(max-width, 555px, 40vw, unset);
        @include change(width, 100%, calc( 100vw - 40px ), $bp-m);
        position: relative;
        &-imgbox {
            width: 100%;
            position: relative;
            margin-bottom: 10px;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                opacity: .2;
                background-color: black;
                z-index: $z-bottom;
            }
        }
        &-img {
            width: 100%;
            height: 100%;
        }
    }
}
.slider__carousel .swiper-slide-thumb-active {
    border: 2px solid black !important;
}
.slider__main-modal {
    @include rp(transform, scale(1), scale(.7));
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    @include rp(top, 5px, 0px, null);
    right: -10px;
    z-index: $z-bottom;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='44' viewBox='0 0 45 44' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.756 18.7382L26.166 20.1482L37.756 8.55822V15.1482H39.756V5.14822H29.756V7.14822H36.346L24.756 18.7382Z' fill='white' /%3E%3Cpath d='M15.2146 38.8224V36.8224H8.62457L20.2146 25.2324L18.8046 23.8224L7.21457 35.4124V28.8224H5.21457V38.8224H15.2146Z' fill='white' /%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    transition: transform $tr-fast;
    @include hover {
        transform: scale(1.1);
    }
}
.slider__main-navigation {
    position: absolute;
    @include rp(bottom, 30px, 10px, null);
    @include rp(right, 30px, 10px, null);
    @include rp(width, 100px, 96%, null);
    z-index: $z-top;
    display: flex;
    justify-content: space-between;
    & .prev {
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='11' viewBox='0 0 35 11' fill='white' stroke-width='2px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35 5H1.5M1.5 5L6 0.5M1.5 5L6 10' stroke='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        left: 0;
        top: 40%;
        width: 44px;
        height: 44px;
        transform-origin: center;
        transition: transform $tr-fast;
        @include hover {
            transform: translateY(3px);
        }
    }
    & .next {
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='11' viewBox='0 0 35 11' fill='white' stroke-width='2px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35 5H1.5M1.5 5L6 0.5M1.5 5L6 10' stroke='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
        transform: scale(-1);
        cursor: pointer;
        left: 0;
        top: 40%;
        width: 44px;
        height: 44px;
        transform-origin: center;
        transition: transform $tr-fast;
        @include hover {
            transform: translateY(3px) scale(-1);
        }
    }
}
.slider__main-wrapper.active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-top;
    max-width: 100%;
    background-color: rgba(0, 0, 0, .9);
    & .slider__main-modal {
        background-image: url("data:image/svg+xml,%3Csvg width='45' height='44' viewBox='0 0 45 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 38.09L5.91 39.5L17.5 27.91V34.5H19.5V24.5H9.5V26.5H16.09L4.5 38.09Z' fill='white' /%3E%3Cpath d='M35.5 19.5V17.5H28.91L40.5 5.91L39.09 4.5L27.5 16.09V9.5H25.5V19.5H35.5Z' fill='white' /%3E%3C/svg%3E%0A");
    }
    & .slider__main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        //height: 90vh;
        max-width: unset;
        &-imgbox {
            height: 90vh !important;
            width: 100%;
            &:before {
                content: none;
            }
        }
        &-img {
            position: static;
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}
