mixin item-card
    section(class='item-card')
        .container
            .item-card__inner
                .item-card__column-left
                    h2.content__title.content__title--show Распоряжения о структуре очень длинное название картины
                    a.content__author.content__author--show(href="#") Диана Миллирелло
                    .item-card__slider.slider
                        .slider__carousel
                            .swiper-container#thumbs
                                .swiper-wrapper
                                    .swiper-slide.slider__carousel-imgbox
                                        img(src="img/item1.jpg", alt="Превью картины").slider__carousel-img
                                    .swiper-slide.slider__carousel-imgbox
                                        img(src="img/item2.jpg", alt="Превью картины").slider__carousel-img
                                    .swiper-slide.slider__carousel-imgbox
                                        img(src="img/item3.jpg", alt="Превью картины").slider__carousel-img
                                    .swiper-slide.slider__carousel-imgbox
                                        img(src="img/item4.jpg", alt="Превью картины").slider__carousel-img
                                    .swiper-slide.slider__carousel-imgbox
                                        img(src="img/item5.jpg", alt="Превью картины").slider__carousel-img
                                    .swiper-slide.slider__carousel-imgbox
                                        img(src="img/item6.jpg", alt="Превью картины").slider__carousel-img   
                        .slider__main-wrapper
                            .slider__main
                                .slider__main-modal.js-modal
                                .swiper-container#main
                                    .slider__main-navigation
                                        .js-prev.prev
                                        .js-next.next
                                    .swiper-wrapper
                                        .swiper-slide.slider__main-imgbox
                                            img(src="img/item1.jpg", alt="Фото картины").slider__main-img
                                        .swiper-slide.slider__main-imgbox
                                            img(src="img/item2.jpg", alt="Фото картины").slider__main-img
                                        .swiper-slide.slider__main-imgbox
                                            img(src="img/item3.jpg", alt="Фото картины").slider__main-img
                                        .swiper-slide.slider__main-imgbox
                                            img(src="img/item4.jpg", alt="Фото картины").slider__main-img
                                        .swiper-slide.slider__main-imgbox
                                            img(src="img/item5.jpg", alt="Фото картины").slider__main-img
                                        .swiper-slide.slider__main-imgbox
                                            img(src="img/item6.jpg", alt="Фото картины").slider__main-img   
                                .item-card__actions.actions
                                    button.actions__item.actions__item--liked(data-liked='(875)') 
                                        span.actions__text Понравилось
                                            svg.actions__icon
                                                use(xlink:href="#like")
                                    a.actions__item.actions__item--right(href="#" download) 
                                        span.actions__text Цифровая копия
                                            svg.actions__icon
                                                use(xlink:href="#download")
                                    button.actions__item 
                                        span.actions__text Больше не показывать картину
                                            svg.actions__icon
                                                use(xlink:href="#visibility")
                .item-card__column-right
                    .item-card__content.content
                        h2.content__title.content__title--hide Распоряжения о структуре очень длинное название картины
                        .content__assets.assets
                            span.assets__code Арт. HWV-165123
                            button.assets__favor.js-to-favor 
                                svg.assets__favor-icon
                                    use(xlink:href="#favor")
                        a.content__author.content__author--hide(href="#") Диана Миллирелло
                        .content__info.info
                            .info__item
                                span.info__key Размер картины: 
                                span.info__value 100 x 120 x 4 см
                            .info__item
                                span.info__key Стиль: 
                                a.info__value.info__value--link(href="#") Пейзаж 
                        .content__purchase.purchase
                            .purchase__price
                                span.purchase__price-new 927 750 <span class='ruble'>7</span>
                                span.purchase__price-old 727 750 
                            button.purchase__button.big-button
                        .content__buttons.buttons
                            button.buttons__item
                                span.buttons__item-text Понравилось
                                    svg.buttons__item-icon
                                        use(xlink:href="#like")
                            button.buttons__item
                                span.buttons__item-text В избранное
                                    svg.buttons__item-icon(fill="none" stroke='black')
                                        use(xlink:href="#favor")
                            button.buttons__item
                                span.buttons__item-text Не показывать
                                    svg.buttons__item-icon
                                        use(xlink:href="#visibility")
                            a(href="#" download).buttons__item
                                span.buttons__item-text Скачать копию
                                    svg.buttons__item-icon  
                                        use(xlink:href="#download")
                        .content__social
                            a.content__social-link(href="#")
                                svg.content__social-icon
                                    use(xlink:href="#vk")
                            a.content__social-link(href="#")
                                svg.content__social-icon
                                    use(xlink:href="#fb")
                            a.content__social-link(href="#")
                                svg.content__social-icon
                                    use(xlink:href="#odnokl")
                            a.content__social-link(href="#")
                                svg.content__social-icon
                                    use(xlink:href="#mail")
                        .content__descr.descr
                            h3.descr__title.js-descr-title.animated-arrow.active(data-id='1') Параметры картины
                            .js-descr-content(data-id='1')
                                table.descr__content
                                    tr
                                        td Год написания
                                        td 2008
                                    tr
                                        td Тема
                                        td Океан, берег, пляж
                                    tr
                                        td Стиль
                                        td Современный пейзаж
                                    tr
                                        td Материалы
                                        td Уголь, чернила, пастель
                            h3.descr__title.js-descr-title.animated-arrow.active(data-id='2') Описание картины
                            p.descr__content-text.js-descr-content(data-id='2') Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum 
