.up-btn {
    display: none;
    width: 54px;
    height: 54px;
    position: fixed;
    @include rsp(bottom, 64px, null, null, null, 20px, 10px);
    @include rsp(right, 54px, null, null, null, 20px, 10px);
    background-color: $primary;
    border-radius: 50%;
    cursor: pointer;
    z-index: $z-modal;
    box-shadow: 2px 10px 25px 1px rgba(0, 0, 0, 0.54);
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 22px;
        left: 20px;
        width: 14px;
        height: 14px;
        border-left: 2px solid $white;
        border-top: 2px solid $white;
        transform: rotate(45deg);
        transform-origin: 50% 50%;
    }
}