.btn-std{
    @include pn;
    @include change(font-size, 17px, 14px, $bp-m);
    line-height: 18px;
    letter-spacing: 0.05em;
    color: $text;
    border: 1px solid $text;
    padding:16px 72px;
    transition: color $tr-fast, background-color $tr-fast;
    transform-origin: 50% 50%;
    transform: scale(1);
    cursor: pointer;
    &:hover {
        background-color: black;
        color: white;
    }
    &--inverted {
        background-color: $bg-dark;
        color: $white;
        border: 1px solid $white;
    }
}