.new-work {
    width: 300px;
    background-color: white;
    margin-bottom: 32px;
    cursor: pointer;
    border: 1px solid $gray-light;
    transition: $tr-slow;
    position: relative;
    text-align: left;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 5px 26px 1px rgba(0,0,0,0.45);
        opacity: 0;
        transition: opacity $tr-fast;
        z-index: $z-zero;
    }
    @include hover {
        &:after {
            opacity: 1;
        }
    }
    &__img {
        width: 100%;
    }
    &__title {
        @include pn;
        font-size: 15px;
        line-height: 18px;
        color: #2e3237;
        position: relative;
        z-index: $z-bottom;
        padding-top: 10px;
        @include change(padding-left, 15px, 8px, $bp-m);
        margin-bottom: 5px;
        display: block;
        transition: color $tr-fast;
        @include hover{
            color: $primary;
        }
    }
    &__auth {
        display: block;
        font-size: 15px;
        line-height: 18px;
        color: #2e3237;
        @include change(padding-left, 15px, 8px, $bp-m);
        margin-bottom: 5px;
        transition: color $tr-fast;
        position: relative;
        z-index: $z-bottom;
        @include pn-sb;
        @include hover {
            color: $primary;
        }
    }
    &__descr {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #666666;
        @include change(padding-left, 15px, 8px, $bp-m);
        margin-bottom: 10px;
    }
    &__footer {
        border-top: 1px solid $gray-light;
        @include change(padding, 12px 17px, 12px 0, $bp-m);
        display: flex;
        justify-content: space-between;
        @include change(flex-direction, row, column, $bp-m);
        position: relative;
        z-index: $z-bottom;
    }
    &__footer-price-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include change(flex-direction, row, column-reverse, $bp-m);
        white-space: nowrap;
        @include change(padding-bottom, 0, 7px, $bp-m);
      }
    &__footer-price {
        @include change(font-size, 18px, 14px, $bp-m);
    }
    &__footer-old-price {
        font-size: 14px;
        color: #858585;
       text-decoration: line-through;
       @include change(margin-left, 20px, 0, $bp-m);
    }
    &__footer-icon-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include change(border-top, none, 1px solid $gray-light, $bp-m);
        @include change(padding, 0 0, 7px 17px 0, $bp-m);
    }
    &__footer-icon {
        width: 22px;
        height: 22px;
        margin-left: 20px;
        @include change(margin-left, 20px, 0, $bp-s);
        fill: transparent;
        stroke: black;
        stroke-width: 2px;
        transition: stroke $tr-fast;
        cursor: pointer;
        @include hover{
            stroke: $primary;
        }
        &.active {
            stroke: $primary;
            fill: $primary;
        }
    }
    &__title-label {
        @include pn;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.025em;
        position: absolute;
        left: 15px;
        @include change(top, -15px, -38px, $bp-xs);
        @include change(left, 15px, 5px, $bp-s);
        color: white;
    }
    &__novelty {
        text-align: center;
        @include change(display,  inline-block,  block, $bp-xs);
        border-radius: 3px;
        @include change(padding,  1px 14px,  1px 7px, $bp-s);
        background-color: #990000;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    &__discount {
        display: inline-block;
        border-radius: 3px;
        padding: 1px 7px;
        background-color: #65b040;
        text-align: center;
        &:after {
            content: attr(data-discount);
        }
    }
}
.new-works-section .swiper-lazy-preloader{
    display: none;
}
