
mixin new-work(data, href, mixclass)
    div(data-href= href class= mixclass + " new-work js-grid-item")
        img.new-work__img.swiper-lazy(data-src= data.src, alt= data.title)
        .swiper-lazy-preloader
        a.new-work__title(href= href)= data.title
            .new-work__title-label    
                span.new-work__novelty Новинка
                span.new-work__discount(data-discount= data.amount) Скидка&nbsp;
        a.new-work__auth(href= data.auth_link)= data.auth
        .new-work__descr= data.descr
        .new-work__footer
            .new-work__footer-price-wrapper
                .new-work__footer-price= data.price
                    span.ruble &nbsp;7
                .new-work__footer-old-price= data.old_price
            .new-work__footer-icon-wrapper   
                svg.new-work__footer-icon.js-work-icon
                    use(xlink:href="#favor")
                svg.new-work__footer-icon.js-work-icon
                    use(xlink:href="#cart")  
       
         
    
