include comp/beginning/beginning
include comp/up-btn/up-btn
include comp/header/header
include comp/h-slider/h-slider
include comp/title-std/title-std
include comp/title-small/title-small
include comp/video-modal/video-modal
include comp/footer/footer
include comp/new-work/new-work
include comp/new-works-section/new-works-section
include comp/art-news/art-news
include comp/art-news-item/art-news-item
include comp/slider-control-btn/slider-control-btn
include comp/review/review
include comp/review-item/review-item
include comp/catalog-title/catalog-title
include comp/catalog-slider/catalog-slider
include comp/catalog-filters/catalog-filters
include comp/item-breadcrumbs/item-breadcrumbs
include comp/item-card/item-card
include comp/item-works/item-works
include comp/_scripts