include _components

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Catalog
		include comp/_styles.pug
	body
		+up-btn()
		include comp/_svg-sprite.html
		.wrapper.js-wrapper
			+header(' header--inverted', false)
			+catalog-title()
			+catalog-filters()
			+catalog-slider()
			+new-works-section(false, false, '', '', 'new-works-section--without-title', false)
			+footer()
		+scripts('js/catalog.js')