include _components

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Разводящая страница
		include comp/_styles.pug
		style.
			.dashboard-title {
				font-size: 60px;
				padding: 120px 0 40px 0px;
				color: white;
				text-shadow: 1px 1px 1px black;
				
			}
			.dashboard-link {
				display: block;
				margin-bottom: 70px;
				font-size: 30px;
				color: white;
				text-shadow: 1px 1px 1px black;
			}
			.dashboard-link:hover {
				color: beige;
			}
			.header, .footer {
				pointer-events: none;
			}

	body
		include comp/_svg-sprite.html
		.wrapper.js-wrapper(style="background-image:url('../img/special.jpg');background-repeat:no-repeat;background-position:bottom;background-size:cover;")
			.container
				+header()
				h1.dashboard-title Разводящая страница
				a.dashboard-link(href="main.html") Главная с авторизованным пользователем
				a.dashboard-link(href="main_unauthorized_user.html") Главная с неавторизованным пользователем (+модальные окна)
				a.dashboard-link(href="catalog.html") Каталог
				a.dashboard-link(href="item.html") Страница товара

			+footer()

		
