include _components

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title
		include comp/_styles.pug
	body
		+up-btn()
		include comp/_svg-sprite.html
		.wrapper.js-wrapper
			+header(' header--inverted', true)
			+item-breadcrumbs()
			+item-card()
			+item-works()
			+footer()
		+scripts('js/item.js')