include _components

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Art
		include comp/_styles.pug
	body
		+up-btn()
		include comp/_svg-sprite.html
		.wrapper.js-wrapper
			+header('', false)
			+h-slider()
			+beginning()
			+new-works-section(true, true, 'Новые работы', 'new-works-section__title', '', true)
			+review()
			+art-news()
			
			
			+footer()
		+scripts('js/index.js')
		
