mixin item-works()
    section(class='item-works lazy-section')
        +title-std('Похожие работы','item-works__title')
        .relative
            .item-works__slider-controls
                    +slider-control-btn('', 'js-prev', 'slider-control-btn--prev')
                    +slider-control-btn('', 'js-next', '')
            .item-works__container.js-works-slider.swiper-container
                .item-works__wrapper.swiper-wrapper
                    +new-work({
                        src: 'img/work1.jpg', 
                        title: 'Распоряжения о структуре тут длинное название картины', 
                        auth: 'Екатерина Александровна Преображенская',
                        auth_link: '#',
                        descr: 'Картина, 80x60 см.',
                        price: '927 750 ',
                        old_price: '727 750',
                        novelty: true,
                        discount: true,
                        amount: '20%'
                    }, '#', 'swiper-slide')
                    +new-work({
                        src: 'img/work2.jpg', 
                        title: 'Абстракция, Опус J202', 
                        auth: 'Соколов Виталий',
                        auth_link: '#',
                        descr: 'Картина, 80x60 см.',
                        price: '927 750 ',
                        old_price: '727 750',
                        novelty: true,
                        discount: false,
                        amount: '20%'
                    }, '#', 'swiper-slide')
                    +new-work({
                        src: 'img/work3.jpg', 
                        title: 'Абстракция, Опус J202', 
                        auth: 'Соколов Виталий',
                        auth_link: '#',
                        descr: 'Картина, 80x60 см.',
                        price: '927 750 ',
                        old_price: '727 750',
                        novelty: true,
                        discount: false,
                        amount: '20%'
                    }, '#', 'swiper-slide')
                    +new-work({
                        src: 'img/work4.jpg', 
                        title: 'Распоряжения о структуре тут длинное название картины', 
                        auth: 'Екатерина Александровна Преображенская',
                        auth_link: '#',
                        descr: 'Картина, 80x60 см.',
                        price: '927 750 ',
                        old_price: '727 750',
                        novelty: true,
                        discount: true,
                        amount: '20%'
                    }, '#', 'swiper-slide')
                    +new-work({
                        src: 'img/work5.jpg', 
                        title: 'Абстракция, Опус J202', 
                        auth: 'Соколов Виталий',
                        auth_link: '#',
                        descr: 'Картина, 80x60 см.',
                        price: '927 750 ',
                        old_price: '727 750',
                        novelty: true,
                        discount: false,
                        amount: '20%'
                    }, '#', 'swiper-slide')
                    +new-work({
                        src: 'img/work6.jpg', 
                        title: 'Абстракция, Опус J202', 
                        auth: 'Соколов Виталий',
                        auth_link: '#',
                        descr: 'Картина, 80x60 см.',
                        price: '927 750 ',
                        old_price: '727 750',
                        novelty: true,
                        discount: false,
                        amount: '20%'
                    }, '#', 'swiper-slide')
                    +new-work({
                        src: 'img/work7.jpg', 
                        title: 'Распоряжения о структуре тут длинное название картины', 
                        auth: 'Екатерина Александровна Преображенская',
                        auth_link: '#',
                        descr: 'Картина, 80x60 см.',
                        price: '927 750 ',
                        old_price: '727 750',
                        novelty: true,
                        discount: true,
                        amount: '20%'
                    }, '#', 'swiper-slide')
                    +new-work({
                        src: 'img/work8.jpg', 
                        title: 'Абстракция, Опус J202', 
                        auth: 'Соколов Виталий',
                        auth_link: '#',
                        descr: 'Картина, 80x60 см.',
                        price: '927 750 ',
                        old_price: '727 750',
                        novelty: true,
                        discount: false,
                        amount: '20%'
                    }, '#', 'swiper-slide')
                    +new-work({
                        src: 'img/work9.jpg', 
                        title: 'Абстракция, Опус J202', 
                        auth: 'Соколов Виталий',
                        auth_link: '#',
                        descr: 'Картина, 80x60 см.',
                        price: '927 750 ',
                        old_price: '727 750',
                        novelty: true,
                        discount: false,
                        amount: '20%'
                    }, '#', 'swiper-slide')