.item-works {
    @include change(background, #f7f7f7, linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 25%, #F3F4F5 25%), $bp-m);
    @include rp(padding-top, 40px, null, 10px);
    @include rp(padding-bottom, 20px, null, null);
    &__title {
        @include rp(margin-bottom, 30px, null, null);
    }
    &__slider-controls {
        display: flex;
        justify-content: space-between;
        @include change(width, 120px, 100%, $bp-m);
        position: absolute;
        @include change(right, 30px, 0, $bp-m);
        top: -93px;
    }
    &__container {
      @include change(padding, 0, 0 10px, $bp-m);
      @include rp(max-width, 1240px, 600px, 95%);
    }
}
.item-works .swiper-container {
    @include rp(overflow, hidden !important, visible !important, hidden !important);
}
