.art-news-item {
   
    display: flex;
    @include change(flex-direction, row, column, $bp-m);
    position: relative;
    &__img {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        flex-shrink: 0;
        @include change(width, 146px, 100%, $bp-m);
        @include change(height, 146px, 205px, $bp-m);
        object-fit: cover;
        @include change(margin, 30px, 0, $bp-m);
    }

    &__content {
        display: flex;
        flex-direction: column;
        @include change(margin-top, 15px, 0px, $bp-m);
         
    }
    &__text-content {
        @include hover {
            & .art-news-item__title{
                color: $primary;
            }
        }
    }
    &__rubric {
        display: block;
        margin-bottom: 20px;
        @include change(margin-bottom, 20px, 15px, $bp-m);
        @include pn-sb;
        @include change(font-size, 14px, 12px, $bp-m);
        @include change(line-height, 42px, 38px, $bp-m);
        
        border-bottom: 1px solid #ccc;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #2e3237;
        position: relative;
        transition: color $tr-fast;
        cursor: pointer;
        &:after {
            content:'';
            display: block;
            position: absolute;
            width: 40px;
            height: 1px;
            background-color: black;
            transition: width $tr-fast;
        }
        @include hover {
            color: $primary;
            &:after {
                width: 100%;
            }
        }
    }

    &__date {
        @include change(position, absolute, static, $bp-m);
        //position: absolute;
        top: 27px;
        right: 2px;
        margin-bottom: 10px;
        @include change(font-size, 14px, 13px, $bp-m);
        @include change(line-height, 18px, 15px, $bp-m);
        color: #666666;
    }

    &__title {
        @include pn-sb;
        @include change(font-size, 19px, 15px, $bp-m);
        @include change(line-height, 29px, 20px, $bp-m);
        margin-bottom: 15px;
        transition: color $tr-fast;
       
    }

    &__text {
        @include change(font-size, 17px, 15px, $bp-m);
        @include change(line-height, 24px, 24px, $bp-m);
        color: #2e3237;
        margin-bottom: 15px;
    }

    &__btn {
        display: block;
        align-self: flex-start;
        position: relative;
        margin-top: auto;
    }
}
