//(src, rubric, date, title, text)

mixin art-news-item(data, mixclass)
    article(class= mixclass + " art-news-item")
        .art-news-item__img(style="background-image:url('" + data.src + "');")
        .art-news-item__content.js-eq-height
            a.art-news-item__rubric(href="#")= data.rubric  
            time.art-news-item__date= data.date
            .art-news-item__text-content
                h3.art-news-item__title= data.title
                p.art-news-item__text= data.text
            a.art-news-item__btn.btn-arrow(href="#") Смотреть и читать
