mixin catalog-slider()
    section(class="catalog-slider")
        .container.relative
            h2.catalog-slider__title Популярные фильтры
            .catalog-slider__slider-controls
                    +slider-control-btn('catalog__prev', 'js-prev', 'slider-control-btn--prev slider-control-btn--no-bg')
                    +slider-control-btn('catalog__next', 'js-next', 'slider-control-btn--no-bg')
            .catalog-slider__container.swiper-container.js-catalog-slider
                .catalog-slider__wrapper.swiper-wrapper
                    .catalog-slider__slide.swiper-slide
                        a.catalog-slider__item
                            .catalog-slider__img(style="background-image:url('img/catalog_slider1.jpg');")
                            p.catalog-slider__jenre Барокко
                    .catalog-slider__slide.swiper-slide
                        a.catalog-slider__item
                            .catalog-slider__img(style="background-image:url('img/catalog_slider2.jpg');")
                            p.catalog-slider__jenre Живопись
                    .catalog-slider__slide.swiper-slide
                        a.catalog-slider__item
                            .catalog-slider__img(style="background-image:url('img/catalog_slider3.jpg');")
                            p.catalog-slider__jenre Пейзаж
                    .catalog-slider__slide.swiper-slide
                        a.catalog-slider__item
                            .catalog-slider__img(style="background-image:url('img/catalog_slider4.jpg');")
                            p.catalog-slider__jenre Поп-арт
                    .catalog-slider__slide.swiper-slide
                        a.catalog-slider__item
                            .catalog-slider__img(style="background-image:url('img/catalog_slider5.jpg');")
                            p.catalog-slider__jenre Модерн
                    .catalog-slider__slide.swiper-slide
                        a.catalog-slider__item
                            .catalog-slider__img(style="background-image:url('img/catalog_slider1.jpg');")
                            p.catalog-slider__jenre Барокко
                    .catalog-slider__slide.swiper-slide
                        a.catalog-slider__item
                            .catalog-slider__img(style="background-image:url('img/catalog_slider2.jpg');")
                            p.catalog-slider__jenre Живопись
                    .catalog-slider__slide.swiper-slide
                        a.catalog-slider__item
                            .catalog-slider__img(style="background-image:url('img/catalog_slider3.jpg');")
                            p.catalog-slider__jenre Пейзаж
                    .catalog-slider__slide.swiper-slide
                        a.catalog-slider__item
                            .catalog-slider__img(style="background-image:url('img/catalog_slider4.jpg');")
                            p.catalog-slider__jenre Поп-арт
                    .catalog-slider__slide.swiper-slide
                        a.catalog-slider__item
                            .catalog-slider__img(style="background-image:url('img/catalog_slider5.jpg');")
                            p.catalog-slider__jenre Модерн
