.catalog-slider {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 1px 0;
    @include rp(padding-top, 60px);
    @include rp(padding-bottom, 30px, null, null);
    @include pn-l;
    &__title {
        @include rp(font-size, 24px, null, 18px);
        @include rp(text-align, left, null center);
        //padding-top: 20px;
        color: #2e3237;
        @include rp(margin-bottom, 40px, 40px, null);
    
    }
    &__container {
        position: relative;
    }
    &__slider-controls {
        display: flex;
        justify-content: space-between;
        @include rp(width, 120px, null, 100%);
        position: absolute;
        z-index: $z-bottom;
       @include rp(top, -15px, null, 45%);
       @include rp(right, 40px, 20px, 0);
       @include rp(left, unset, null, 0);
    }
    &__item {
        display: block;
        @include rp(margin, 0 0, null, 0 50px);
        @include hover {
           & .catalog-slider__img:before {
                opacity: 1;
           }
           & .catalog-slider__jenre {
               background-color: $primary;
           }   
        }
    }
    &__img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        position: relative;
        transition: border-color $tr-fast;
        &:after{
            content:'';
            display: block;
            padding-top: 65%;
        }
        &:before {
            content:'';
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border:5px solid $primary;
            opacity: 0;
            transition: opacity $tr-fast;
        }
    }
    &__jenre {
        @include rp(font-size, 20px, 14px, null);
        @include rp(padding, 8px 18px, 4px 8px, null);
        font-size: 20px;
        color: $white;
        background-color: #3b3d42;
        width: fit-content;
        transition: background-color $tr-fast, border-color $tr-fast;
        position: relative;
    }
}
