.slider-control-btn {
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: $tr-fast;
    transform-origin: center center;
    @include hover(){
        background-color: #4a4f52;
        &:after {
            border-color: #fff;
        }
    }
    &:after{
        content:'';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform-origin: 50%, 50%;
        transform: rotate(45deg) translate(-90%, 18%);
    }
    &--prev {
        transform: rotate(180deg);
    }
    &--no-bg {
        @include hover(){
            background-color: #4a4f52;
            &:after {
                border-color: #fff;
            }
        }
        @media screen and (max-width: $bp-xl){
            @include hover(){
                background-color:transparent;
                &:after {
                    border-color: $primary;
                }
            }
        }
    }
}