.title-small {
    padding-bottom: 0px;
    border-bottom: 1px solid #e2e3e3;
    &__content {
        @include pn-sb;
        text-transform: uppercase;
        display: inline-block;
        @include change(font-size, 14px, 12px, $bp-xl);
        @include rsp(padding, 17px 0, null, 10px 0);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #2e3237;
        position: relative;
        &:after {
            content: '';
            width: 40px;
            height: 1px;
            background-color: black;
            position: absolute;
            left: 0;
            bottom: -1px;
            transition: width $tr-fast;
        }
        @include hover {
            color: $primary;
            &:after {
                width: 100%;
            }
        }
    }
}