:root {
    @include rsp(--review-card-gap, 42px, null, 21px, null, 5px);
}
.review-item {
    display: flex;
    flex-direction: column;
    //@include rp(padding, 0 20px, 0 12px, 0 8px);
    &--reverse {
        flex-direction: column-reverse;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__card {
        @include change(color, white, black, $bp-m);
        @include change(text-align, center, left, $bp-m);
        width: 50%;
        margin-bottom: var(--review-card-gap);
        position: relative;
        &:not(:last-child){
            margin-right: var(--review-card-gap);
        }
        &--wide {
            width: 100%;
        }
        @include hover {
            &>.review-item__img:after {
                opacity: .7;
            }
            &>.review-item__img:before {
                transform: scale(1.3);
            }
        }
    }
    &__img {
        overflow: hidden;
        display: block;
        position: relative;
        &:after{
            content:'';
            display: block;
            background-color: black;
            opacity: .5;
            padding-top: 100%;
            transition: $tr-slow;
        }
        &:before {
            content:'';
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: inherit;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform-origin: center;
            transform: scale(1);
            transition: $tr-slow;
        }
        &--wide {
            &:after{
                content:'';
                display: block;
                padding-top: calc(50% - var(--review-card-gap) / 2);
            }
        }
    }
    &__text-bottom {
        display: block;
        width: 100%;
        @include change(position, absolute, static, $bp-m);
        @include change(transform, translate(-50%, 0%), translate(0%, 0%), $bp-m);
        @include pn-sb;
        @include change(font-size, 22px, 14px, $bp-m);
        @include change(padding, 15px 5px 5px 5px, 10px 5px 15px 5px, $bp-m);
        top: 50%;
        left: 50%;
        transform-origin: center;
        z-index: $z-middle;
    }
    &__text-top {
        display: block;
        width: 100%;
        @include change(position, absolute, static, $bp-m);
        @include change(transform, translate(-50%, -100%), translate(0%, 0%), $bp-m);
        @include change(font-size, 18px, 14px, $bp-m);
        top: 50%;
        left: 50%;
        transform-origin: center;
        z-index: $z-middle;
        @include change(padding, 5px 5px 15px 5px, 5px 5px 10px 5px, $bp-m);
        &:after {
            @include change(background-color, white, black, $bp-m);
            @include change(right, 0, unset, $bp-m);
            @include change(left, 0, 5px, $bp-m);
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 1px;
            bottom: 0;
            margin: auto;
        }
    }
}
