mixin review-item(mixclass, imgs, hrefs, tops, bottoms, modclass = '')
    div(class= mixclass + ' review-item ' + modclass)
        .review-item__row
            .review-item__card.review-item__card--wide
                a.review-item__img.review-item__img--wide(style= imgs[0] href= hrefs[0])
                a.review-item__text-top.review-item__text-top--wide(href= hrefs[0])= tops[0]
                a.review-item__text-bottom(href= hrefs[0])= bottoms[0]
        .review-item__row
            .review-item__card
                a.review-item__img(style= imgs[1] href= hrefs[1])
                a.review-item__text-top(href= hrefs[1])= tops[1]
                a.review-item__text-bottom(href= hrefs[1])= bottoms[1]
            .review-item__card
                a.review-item__img(style= imgs[2] href= hrefs[2])
                a.review-item__text-top(href= hrefs[2])= tops[2]
                a.review-item__text-bottom(href= hrefs[2])= bottoms[2]
