.beginning {
    @include rsp(padding-top, 60px, null,40px, null, 23px);
    @include rsp(padding-bottom, 65px, null,55px, null, 33px);
    &__title-std {
        margin-bottom: 45px;
    }
    &__content {
        display: flex;
        @include change(flex-direction, row, column, $bp-m);
        @include change(align-items, flex-start, center, $bp-m);
        @include change(justify-content, space-between, center, $bp-m);
    }
    &__expert-choice {
        @include change(margin-left, auto, unset, $bp-m);
        @include change(margin-top, 0, 10px, $bp-m);
        @include rsp(max-width, 404px , null, 237px, null, 100%);
    }
}
.expert-choice {
    &__img {
        display: block;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        &:after {
            content: '';
            display: block;
            padding-top: 70%;
        }
    }
    &__rubric {
        margin-bottom: 20px;
        @include rsp(margin-bottom, 20px, null, 5px);
    }
    &__link {
        @include pn-sb;
        @include change(font-size, 19px, 15px, $bp-xl);
        @include rsp(line-height, 29px, null, 22px);
        letter-spacing: 0.025em;
        transition: $tr-fast;
        @include hover {
            color: $primary;
        }
    }
}