
mixin beginning()
    section.beginning
        +title-std('Не знаете, с чего начать?', 'beginning__title-std')
        .container
            .beginning__content
                +video-modal('beginning__video', 'Видеообзор нашего ресурса - возможности для пользователя')
                .beginning__expert-choice.expert-choice
                    a.expert-choice__img(href="#" style="background-image:url('img/expert.jpg')")
                    +title-small('Выбор экспертов', 'expert-choice__rubric')
                    a.expert-choice__link Обзор нашего эксперта Элеоноры Рубинштейн-Загорской
                
