.review {
    background-color: $white;
    padding-top: 30px;
    @include rp(padding-bottom, 50px, null, 5px);
    &__title-std {
        @include change(margin-bottom, 75px, 20px, $bp-m);
    }
    &__slider-controls {
        display: flex;
        justify-content: space-between;
        @include change(position, absolute, static, $bp-m);
        margin: 0 auto 30px;
        top: -140px;
        @include rp(right, 50px, 50px, null);
        width: 120px;
    }
    &__slider-container {
        @include change(width, 1240px, auto, $bp-m);
    }
    & .container {
        padding: 0 9px;
    }
}
.title-std {
    &__content {}
}
