mixin review()
    section.review
        +title-std('Обзор стилей', 'review__title-std')
        .container.relative
            .review__slider-controls
                +slider-control-btn('review__prev js-prev', 'slider-control-btn--prev')
                +slider-control-btn('review__next js-next')
            .review__slider-container.swiper-container
                .review__slider-wrapper.swiper-wrapper
                    +review-item('review__slide swiper-slide', [
                        "background-image:url('img/review1.jpg')",
                        "background-image:url('img/review2.jpg')",
                        "background-image:url('img/review3.jpg')"
                    ], [
                        "#", "#", "#"
                    ], [
                        'Современное НЮ',
                        'Вдохновение Уорхоллом',
                        'Вдохновение Хансом Хофманном'
                    ], [
                        'Новое изобразительное искусство',
                        'Новый поп-арт',
                        'Новый абстрактный экспрессионизм'
                    ])
                    +review-item('review__slide swiper-slide', [
                        "background-image:url('img/review4.jpg')",
                        "background-image:url('img/review5.jpg')",
                        "background-image:url('img/review6.jpg')"
                    ], [
                        "#", "#", "#"
                    ], [
                        'Современный пейзаж',
                        'Кубизм как математическое явление',
                        'Портретизм'
                    ], [
                        'Березы как основной лейтмотив русской живописи',
                        'Рисуем n-мерный куб с помощью масла и фантазии',
                        'Количество пикселей - не залог четкого портрета!'
                    ], 'review-item--reverse')
