.btn-arrow {
    transition: color $tr-fast;
    display: block;
    align-self: flex-start;
    position: relative;
    @include pn-sb;
    font-size: 16px;
    line-height: 34px;
    color: #333333;
    margin-top: auto;
    @include hover {
        color: $primary;
        &:after{
            background-color: $primary;
        }
        &:before{
            border-color: $primary;
        }
    }
    &:after, &:before {
        content:'';
        position: absolute;
        display: block;
        transition: $tr-fast;
    }
    &:after {
        width: 36px;
        height: 2px;
        top: 50%;
        left: 107%;
        transform: translate(0%, -50%);
        background-color: black;
    }
    &:before {
        width: 10px;
        height: 10px;
        transform: translateY(-50%) rotate(45deg);
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        top: 50%;
        left: 125%;
    }
}
