.item-breadcrumbs{
    @include rp(font-size, 14px, 13px, null);
    background-color: #f3f4f5;
    color: #999999;
    white-space: nowrap;
    @include change(margin-top, 81px, 51px, $bp-m);
    &__inner {
        position: relative;
        overflow: hidden;
        &:after {
            content:'';
            display: block;
            position: absolute;
            width: 60px;
            height: 100%;
            top: 0;
            right: 0;
            background: linear-gradient(to right, rgba(243, 244, 245,0) 0%, rgba(243, 244, 245 ,1) 50%);
        }
    }
    &__back {
        display: inline-block;
        position: relative;
        line-height: 52px;
        padding-left: 42px;
        padding-right: 54px;
        &:after, &:before {
            content:'';
            position: absolute;
            display: block;
        }
        &:after {
           width: 1px;
           height: 30px;
           right: 26px;
           top: 50%;
           background-color: #999;
           transform: translate(0%,-50%);
           @include hide($bp-s);
        }
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='35' height='11' viewBox='0 0 35 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35 5H1.5M1.5 5L6 0.5M1.5 5L6 10' stroke='#999'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            left: 0;
            top: 40%;
            width: 35px;
            height: 11px;
        }
    }
    &__link {
        display: inline-block;
        padding-right: 60px;
        position: relative;
        @include hide($bp-s);
        &:after {
            content:'';
            position: absolute;
            display: block;
            width: 30px;
            height: 1px;
            background-color: #666;
            right: 15px;
            top: 50%;
        }
    }
    &__current {
        display: inline-block;
        color: #666;
        white-space: nowrap;
        @include hide($bp-s);
    }
}
