mixin item-breadcrumbs
    div(class="item-breadcrumbs")
        .container
            .item-breadcrumbs__inner
                a(href="#").item-breadcrumbs__back Назад
                a(href="#").item-breadcrumbs__link Главная
                a(href="#").item-breadcrumbs__link Каталог
                span.item-breadcrumbs__current Распоряжения о структуре длинное название картины
