mixin catalog-filters
    .catalog-filters-wrapper
        a.catalog-filters__back Назад
        .container.row
            button.catalog-filters__minimize.js-minimize
                <svg class="options-filter" width="17" height="15" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 2H16.5M0 9H16.5M0 16H16.5" stroke="black"/>
                    <circle class="c1" cx="8" cy="2" r="1.5" fill="white" stroke="black"/>
                    <circle class="c3"cx="8" cy="9" r="1.5" fill="white" stroke="black"/>
                    <circle class="c2" cx="8" cy="16" r="1.5" fill="white" stroke="black"/>
                </svg>
                span Фильтры
                <svg class='arrow-filter' viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.5 0.5L4.5 4.5L8.5 0.5" stroke="black"/>
                </svg>
        form(class="catalog-filters js-catalog-filters")
            .container.relative.js-sliders-block
                .catalog-filters__sliders.sliders
                    .sliders__item.sliders__item--price
                        .sliders__price-inputs
                            input.sliders__input-from#price-from(type="number")
                            span.dash
                            input.sliders__input-to#price-to(type="number")
                        span.sliders__label-text.sliders__label-text--price Цена:
                        input.js-range-slider#price-slider(type="text" data-type="double" data-grid="true" data-grid-num="1" data-min="5000" data-max="100000")
                    label.sliders__item.sliders__item--size
                        span.sliders__label-text.sliders__label-text--size Размер:
                        input.js-range-slider#size-slider(
                            type="text" data-type="double" data-grid="true" grid-snap="true" data-min="0" data-max="4" data-values="S, M, L, XL, XXL" data-grid-snap="true")
                    .sliders__orientation
                        span.sliders__orientation-text Ориентация:
                        label.sliders__orientation-label 
                            input.sliders__orientation-checkbox.visually-hidden(type="checkbox" name="quadro")
                            span.icon-quadro 
                        label.sliders__orientation-label 
                            input.sliders__orientation-checkbox.visually-hidden(type="checkbox" name="portrait")
                            span.icon-portrait 
                        label.sliders__orientation-label 
                            input.sliders__orientation-checkbox.visually-hidden(type="checkbox" name="album")
                            span.icon-album
                label.catalog-filters__reset
                    svg.reset-icon
                        use(xlink:href="#reset")
                    input.catalog-filters__reset-button.js-input-reset(type="reset" value="Сбросить фильтр")
            .catalog-tabs.container.container--zero-padding-mobile.js-catalog-tabs
                .tabs-minimize.js-tabs-minimize.animated-arrow Свернуть фильтр   
                .tabs-wrapper.js-tabs-wrapper(data-opened="0" data-media="767")
                    //- .container.relative
                    //-     button.tabs-minimize.js-tabs-minimize.animated-arrow Свернуть фильтр   
                    .container.relative
                        .tabs-header.js-tabs-header
                            .tabs-title.js-tabs-title.animated-arrow Автор
                            .tabs-title.js-tabs-title.animated-arrow Жанр
                            .tabs-title.js-tabs-title.animated-arrow Цвет
                            .tabs-title.js-tabs-title.animated-arrow Тема
                            .tabs-title.js-tabs-title.animated-arrow Материал
                            .tabs-title.js-tabs-title.animated-arrow Стиль
                    .tabs-body.js-tabs-body
                        .container.container--zero-padding-mobile
                            .js-tabs-item
                                .tabs-subtitle.js-tabs-subtitle.tabs-subtitle--bg Автор
                                .tabs-content.js-tabs-content.tabs-content--bg
                                    .autocomplete.js-autocomplete
                                        .autocomplete__head
                                            label Начните вводить имя автора
                                            select.js-autocomplete-select(name='author' style="width: 300px")
                                                optgroup(label='А')
                                                    option(value='Абулафия Крайнова') Абулафия Крайнова
                                                    option(value='Арменинов Тримедул') Арменинов Тримедул
                                                    option(value='Асадуллин Нефедов') Асадуллин Нефедов
                                                    option(value='Ашихмин Шадурахов') Ашихмин Шадурахов
                                                optgroup(label='Б')
                                                    option(value='Бабурин Константин') Бабурин Константин
                                                    option(value='Бабуркин Вениамин') Бабуркин Вениамин
                                                    option(value='Баламутин Перлпмутр') Баламутин Перлпмутр
                                                    option(value='Бенвенист Трамп') Бенвенист Трамп
                                                    option(value='Бердюгин Битюг') Бердюгин Битюг
                                            .autocomplete__options.js-autocomplete-options
                            .js-tabs-item
                                .tabs-subtitle.js-tabs-subtitle Жанр
                                .tabs-content.js-tabs-content
                                    .autocomplete.js-autocomplete
                                        .autocomplete__head
                                            label Начните вводить название жанра
                                            select.js-autocomplete-select(name='author' style="width: 300px")
                                                optgroup(label='А')
                                                    option(value='Абстрактная живопись') Абстрактная живопись
                                                    option(value='Аутентичные картины') Аутентичные картины
                                                optgroup(label='Б')
                                                    option(value='Бытовой') Бытовой
                                                    option(value='Батальный') Батальный
                                            .autocomplete__options.js-autocomplete-options
                            .js-tabs-item
                                .tabs-subtitle.js-tabs-subtitle Цвет
                                .tabs-content.js-tabs-content
                                    .autocomplete.js-autocomplete
                                        .autocomplete__head
                                            label Начните вводить цвет
                                            select.js-autocomplete-select(name='author' style="width: 300px")
                                                optgroup(label='А')
                                                    option(value='Аквамарин') Аквамарин
                                                    option(value='Антикварный') Антикварный
                                                optgroup(label='Б')
                                                    option(value='Бирюзовый') Бирюзовый
                                                    option(value='Бриллиантовый') Бриллиантовый
                                            .autocomplete__options.js-autocomplete-options
                            .js-tabs-item
                                .tabs-subtitle.js-tabs-subtitle Тема
                                .tabs-content.js-tabs-content
                                    .checkbox-items
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="checkbox")
                                            span.input.checkbox-text Война
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="checkbox")
                                            span.input.checkbox-text Деревенская жизнь
                                        label.checkbox-label
                                            input.checkbox-input(type="checkbox")
                                            span.input.checkbox-text Море
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="checkbox")
                                            span.input.checkbox-text Техника
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="checkbox")
                                            span.input.checkbox-text Природа
                            .js-tabs-item
                                .tabs-subtitle.js-tabs-subtitle Материал
                                .tabs-content.js-tabs-content
                                    .checkbox-items
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="radio" name='material')
                                            span.input.checkbox-text Холст
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="radio" name='material')
                                            span.input.checkbox-text Картон
                                        label.checkbox-label
                                            input.checkbox-input(type="radio" name='material')
                                            span.input.checkbox-text Бумага
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="radio" name='material')
                                            span.input.checkbox-text Дерево
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="radio" name='material')
                                            span.input.checkbox-text Камень
                            .js-tabs-item
                                .tabs-subtitle.js-tabs-subtitle Стиль
                                .tabs-content.tabs-content--border-bottom.js-tabs-content
                                    .checkbox-items
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="radio" name='artstyle')
                                            span.input.checkbox-text Модернизм
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="radio" name='artstyle')
                                            span.input.checkbox-text Реализм
                                        label.checkbox-label
                                            input.checkbox-input(type="radio" name='artstyle')
                                            span.input.checkbox-text Кубизм
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="radio" name='artstyle')
                                            span.input.checkbox-text Абстракция
                                        label.checkbox-label
                                            input.visually-hidden.checkbox-input(type="radio" name='artstyle')
                                            span.input.checkbox-text Портрет
                            .submit-wrapper                
                                button.submit-button Показать картины
