.autocomplete {
    &__item {
        @include pn;
        font-size: 16px;
        display: inline-block;
        padding: 8px 16px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: white;
        cursor: pointer;
        transition: background-color $tr-fast;
        @include hover {
            background-color:#f6f6f6
        }
        &::after {
            content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 0.5L18.5 18.5M0.5 18.5L18.5 0.5' stroke='black'/%3E%3C/svg%3E");
            margin-left: 10px;
            margin-right: -5px;
            font-weight: bold;
            color: red;
        }
    }
    .select2-selection__choice {
        display: none !important;
    }
    &__head {
        padding: 0;
    }
    &__head label {
        color: #666;
        @include rp(font-size, 16px, null, 14px);
        @include rp(display, inline, null, block);
        @include rp(margin-right, 20px, null, auto);
        @include rp(margin-left, unset, null, auto);
        @include change(margin-bottom, 20px, 5px, $bp-m);
    }
    &__options {
        padding-top: 20px;
        //padding-bottom: 30px;
        @include pn-sb;
        @include rp(font-size, 14px, null, 12px);
        text-align: left;
    }
}
.select2-results__options {
    position: relative;
    overflow: hidden;
}
.select2 {
    @include change(width, unset, 100% !important, $bp-m);
   &-selection {
    padding: 5px;
   }
}
.select2-results {
    @include pn;
}
//-----SLIDERS
.catalog-filters__minimize {
    padding: 5px 0;
    outline: none;
    border: none;
    background-color: transparent;
    @include rp(display, none, null, flex);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    cursor: pointer;
    & .options-filter {
        width: 30px;
        height: 25px;
        transform: rotate(0deg);
        transition: transform $tr-fast;
    }
    & .c1 {
        transform: translate(-5px, 0%);
        transition: transform $tr-slow;
    }
    & .c2 {
        transform: translate(5px, 0%);
        transition: transform $tr-slow;
    }
    & .c3 {
        transform: scale(1);
        transform-origin: center;
        transition: transform $tr-slow;
    }
    &:hover {
        .c3 {
            transform: scale(1.4);
        }
    }
    &.opened .options-filter {
        transform: rotate(90deg);
        transition: transform $tr-fast;
    }
    &.opened .c1 {
        transform: translate(5px, 0%);
        transition: transform $tr-slow;
    }
    &.opened .c2 {
        transform: translate(-5px, 0%);
        transition: transform $tr-slow;
    }
    & .arrow-filter {
        margin-left: auto;
        width: 12px;
        height: 8px;
        transform-origin: center;
        transition: transform $tr-fast;
        transform: rotate(0deg);
    }
    &.opened .arrow-filter {
        width: 12px;
        height: 8px;
        transform: rotate(180deg);
    }
    & span {
        @include pn-sb;
        font-size: 16px;
        margin-left: 15px;
    }
}
.catalog-filters__back {
    width: 100%;
    color: #666;
    background-color: #eee;
    padding-left: 10px;
    display: none;
    @include show($bp-m);
    line-height: 40px;
    &:before {
        content:url("data:image/svg+xml,%3Csvg width='28' height='8' viewBox='0 0 28 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646445 3.64645C0.451183 3.84171 0.451183 4.15829 0.646445 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.7071 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646445 3.64645ZM28 3.5L0.999998 3.5V4.5L28 4.5V3.5Z' fill='black'/%3E%3C/svg%3E");
        margin-right: 5px;
    }
}
#price-from, #price-to{
    background-color: #f2f4f5;
    border: none;
    font-size: 14px;
    padding: 6px 12px;
    text-align: center;
    @include rp(width, unset, unset, 45%);
}
#price-from {
    display: block;
    position: relative;
}
.sliders__item--price .irs-grid-text-1 {
   text-align: right !important;
}
.catalog-filters {
    @include rp(padding-bottom, 0, null, 0px);
    position: relative;
    &__reset {
        display: block;
        position: absolute;
        @include rp(top, 50px, 50px, 100%);
        @include rp(right, 30px, 30px, 50%);
        right: 30px;
        min-width: 200px;
        @include change(transform, translate(0, 0), translate(50%, -180%), $bp-m);
        @include hover {
            &>.reset-icon {
                fill: white;
            }
        }
        &-button {
            min-width: 200px;
            position: relative;
            padding: 0 20px 0 0;
            z-index: $z-zero;
            cursor: pointer;
            @include pn-sb;
            width: 100%;
            background-color: transparent;
            display: block;
            font-size: 14px;
            border: 1px solid #ccc;
            line-height: 40px;
            transition: background-color $tr-fast, color $tr-fast;
            @include hover {
                background-color: black;
                color: white;
            }
        }
    }
}
.reset-icon {
    fill: black;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: $z-bottom;
    top: 10px;
    right: 10px;
    pointer-events: none;
}
.sliders {
    position: relative;
    padding-top: 23px;
    @include rp(padding-right, 200px, null, 0);
    @include rp(padding-bottom, 30px, null, 100px);
}
.dash {
    flex-grow: 1;
    position: relative;
    width: 20px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 25%;
        height: 1px;
        width: 50%;
        background-color: black;
    }
}
.sliders__price-inputs{
    display: flex;
}
.sliders__label-text {
    position: absolute;
    @include pn-sb;
    @include rp(font-size, 16px, null, 14px);
    &--price {
        @include rp(top, 48%, 3%, null);
        @include rp(left, -45px, null, -65px);
    }
    &--size {
        @include rp(top, 21%, -50%, 20px);
        @include rp(left, -65px, 0, -65px);
    }
}
.sliders__orientation{
    transform: translate(0%, 28px);
    @include rp(margin-top, 0px, -35px, null);
    @include rp(padding-top, 0px, 50px, 30px);
    @include rp(margin-left, 110px, 20px, auto);
    @include rp(margin-bottom, 0px, 20px, null);
    @include rp(display, inline-block, block, flex);
    justify-content: center;
    align-items: center;
}
.sliders__orientation-text{
    @include pn-sb;
    font-size: 16px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}
.sliders__orientation-label {
    display: inline-block;
    vertical-align: middle;
}
.sliders__orientation-checkbox {
    &~span{
        display: inline-block;
        cursor: pointer;
        background-color: #ccc;
        margin-top: 5px;
        &:hover {
            background-color: #666;
        }
    }
    &:checked~span {
        background-color:#666;
    }
}
.icon-quadro{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.icon-portrait{
    width: 19px;
    height: 32px;
    margin-right: 8px;
}
.icon-album{
    width: 32px;
    height: 19px;
}
.sliders__item {
    @include rp(display, inline-block , null, block);
    position: relative;
    &--price {
        @include rp(width, 230px, 180px, 70%);
        @include rp(margin-left, 50px, 70px, 70px);
        @include rp(padding-top, 0px, 0px, null);
        margin-right: auto;
        position: relative;
        &:after{
            content:'max';
            position: absolute;
            bottom: 5px;
            right: 0;
        }
    }
    &--size {
        @include rp(padding-top, 0px, 0px, null);
        @include rp(width, 182px, 180px, 70%);
        @include rp(margin-left, 150px, 60px, 70px);
        margin-right: auto;
    }
    & .irs {
        margin-top: -10px;
    }
    & .irs-single {
        display: none;
    }
    & .irs-grid-pol {
        display: none;
    }
    & .irs-min {
        display: none;
    }
    & .irs-max {
        display: none;
    }
    & .irs-grid-text {
        @include pn;
        font-size: 14px;
        color: black;
        cursor: pointer;
        transform: translate(0%, -5px);
    }
    & .irs-handle {
        cursor: pointer;
        background-color:#cccccc;
        border: 2px solid #000;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-top: -4px;
        transition: background-color $tr-fast;
        &>i {
            display: none !important;
        }
        &.state_hover {
            background-color: #000;
        }
        &:after,
        &:before {
            content: none;
        }
    }
    & .irs-line {
        background-color: #ccc;
        height: 6px;
    }
    & .irs-bar {
        background-color: #000;
        height: 5px;
    }
    & .irs-from {
        display: none;
    }
    & .irs-to {
        display: none;
    }
}
//-----CUSTOM SCROLL
.ps {
    padding-right: 10px;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    &__rail-y {
        position: absolute;
        left: auto !important;
        right: 0;
        width: 12px;
        background: #ccc;
        bottom: 0;
        opacity: 1 !important;
        &:hover {
            width: 12px !important;
            background: #ccc !important;
            opacity: 1 !important;
        }
    }
    &__thumb-y {
        cursor: pointer;
        position: absolute;
        border-radius: 0px !important;
        right: 0;
        width: 100%;
        background:#666;
        &:hover {
            width: 100% !important;
            background-color:#666 !important;
        }
    }
    &__rail-x {
        display: none !important;
    }
}
.catalog-tabs {
    position: relative;
    @include rp(padding-top, 0, null, 42px);
}
.tabs {
    &-wrapper {
        display: none;
    }
    &-header {
        display: flex;
    }
    &-content {
       @include change(padding, 20px 20px, 3px 20px, $bp-s);
       position: relative;
       @include rp(text-align, left, null, center);
       &--bg {
           background-color:  #f6f6f6;
       }
    }
    &-title {
        @include rp(padding, 10px 40px 10px 20px, null);
        cursor: pointer;
        background-color: white;
        @include pn-sb;
        font-size: 16px;
        position: relative;
        &.active{
            background-color: #f6f6f6;
        }
    }
    &-subtitle {
        background-color: #fff;
        font-size: 14px;
        padding: 10px 20px;
        @include pn-sb;
        cursor: pointer;
        border-top: 1px solid #ccc;
    }
    &-body{
        position: relative;
        @include change(background-color, #f6f6f6, unset, $bp-m);
        &:after, &:before {
            content:'';
            position: absolute;
            display: block;
            @include change(background-color, #f6f6f6, unset, $bp-m);
            top: 0;
            height: 100%;
            width: 50vw;
        }
        &:after {
           right: 100%; 
        }
        &:before {
            left: 100%;
        }
    }
    &-minimize {
        display: block;
        position: absolute;
        z-index: $z-bottom;
        @include rp(right, 30px, null, 50%);
        @include rp(transform, translate(0, 50%), null, translate(50%, 50%));
        @include rp(bottom, 0, null, 100%);
        min-width: 200px;
        cursor: pointer;
        @include pn-sb;
        background-color: white;
        display: block;
        font-size: 14px;
        line-height: 40px;
        border-color: #ccc;
        border-style: solid;
        padding: 0 27px 0 30px;
        @include rp(border-width, 1px, null, 1px 1px 1px 1px);
        transition: background-color $tr-fast, color $tr-fast;
        @include hover {
            background-color: black;
            color: white;
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 0.5L4.5 4.5L8.5 0.5' stroke='white'/%3E%3C/svg%3E");
            }
        }
        &.active {
            @include rp(border-width, 1px, null, 1px 1px 1px 1px);
            @include rp(border-bottom-color,  #ccc, null, white);
            @include rp(margin-bottom, 0, null, -1px);
            @include rp(transform, translate(0, 50%), null, translate(50%, 100%));
        }
    }
}
.checkbox{
    &-items {
        text-align: left;
    }
    &-input {
        &:checked+span {
            background-color:#666;
            color: white;
        }
    }
    &-text {
        display: inline-block;
        @include rp(font-size, 16px, null, 14px);
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 5px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        transition: $tr-fast;
        cursor: pointer;
        @include hover {
            background-color: #666;
            color: white;
        }
    }   
}
.submit-button {
    @include pn-sb;
    font-size: 14px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    margin: 40px auto 40px auto;
    @include show($bp-m);
    position: relative;
    &:after {
        content:'';
        display: block;
        position: absolute;
        width: 100vw;
        transform: translate(-50%, 0%);
        height: 1px;
        left:50%;
        top: -40px;
        background-color:#ccc;
    }
}

.autocomplete__head label {
    text-align: left;
}
.select2-results__option--highlighted {
    background-color: #666 !important;
}

.sliders__item--price .js-grid-text-1 {
    font-size: 0 !important;
}

.select2-results__group {
    font-size: 22px;
    padding-left: 15px !important;
}

.select2-selection {
    position: relative;
    &:after{
        content: '';
        display: block;
        position: absolute;
        top: 30%;
        right: 15px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        z-index: 5;
        transform-origin: center;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        cursor: pointer;
    }
}