.footer {
    color: white;
    &__top {
        background-color: #1e2026;
    }
    &__bottom {
        background-color: #191b1f;
    }
}
.footer-top {
    &__row {
        display: flex;
        @include change(flex-direction, row, column-reverse, $bp-m);
        @include change(align-items, flex-start, center, $bp-m);
        @include rsp(padding-top, 90px, null, 35px, null, null, );
        @include rsp(padding-bottom, 75px, null, 14px, null, null, );
    }
    &__info {
        max-width: 200px;
        flex-grow: 1;
        @include hide($bp-xl);
    }
    &__title {
        @include hide($bp-m);
        @include pn;
        font-size: 18px;
        line-height: 18px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        letter-spacing: 0.025em;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 40px;
            height: 1px;
            background-color: white;
            bottom: 0;
            left: 0;
            transition: width $tr-fast;
        }
    }
    &__info-item {
        margin-left: -15px;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    &__info-link {
        @include pn-l;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.025em;
        transition: $tr-fast;
        padding: 5px 15px;
        @include hover() {
            background-color: $primary;
        }
    }
    &__contacts {
        @include rsp(max-width, 360px, null, 50%, null, 100%);
        flex-grow: 1;
        padding-right: 20px;
    }
    &__contact-item {
        margin-bottom: 25px;
        display: flex;
    }
    &__contact-icon {
        width: 22px;
        height: 22px;
        fill: white;
        margin-right: 15px;
    }
    &__contact-phone {
        @include pn;
        font-size: 21px;
        line-height: 24px;
        letter-spacing: 0.025em;
    }
    &__contact-email {
        @include pn-l;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.025em;
        color: #cccccc;
    }
    &__contact-address {
        @include pn-l;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.025em;
    }
    &__column {
        @include change(max-width, 50%, 100%, $bp-m);
    }
    &__pay1 {
        display: none;
        @include show($bp-m);
    }
    &__pay2 {
        @include hide($bp-m);
    }
    &__img {
        @include change(width, 281px, 250px, $bp-l);
    }
    &__social {}
    &__social-links {
        width: 100%;
        display: flex;
        margin-top: -15px;
        margin-bottom: 30px;
    }
    &__social-item {
        &:not(:last-child) {
            margin-right: 10px;
        }
        &:hover {
            & .footer-top__social-link {
                background-color: #ccc;
            }
            & .footer-top__social-icon {
                fill: #1e2026;
            }
        }
    }
    &__social-link {
        display: block;
        width: 44px;
        height: 44px;
        border: 1px solid #ccc;
        border-radius: 50%;
        position: relative;
        transition: background-color $tr-fast;
    }
    &__social-icon {
        height: 23px;
        width: 23px;
        transition: fill $tr-fast;
        fill: #ccc;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.footer-bottom {
    @include pn-l;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.025em;
    color: #ccc;
    @include rsp(padding-top, 25px, null, null, 5px, 0, null, null);
    @include rsp(padding-bottom, 25px, null, null, 5px, 0, null, null);
    position: relative;
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include change(flex-direction, row, column, $bp-m);
    }
    &__links {
        @include change(display, flex, block, $bp-xl);
        @include change(background-color, transparent, #1e2026, $bp-m);
        @include change(width, unset, 100%, $bp-m);
    }
    &__item {
        @include change(padding, 0 0, 10px 0, $bp-m);
        &:not(:last-child) {
            @include change(margin-right, 40px, 0px, $bp-m);
        }
    }
    &__link {
        width: 100%;
        display: block;
        margin-right: auto;
        @include change(text-align, left, center, $bp-m);
        transition: color $tr-fast;
        @include hover {
        color: $primary;
        }
    }
    &__copy {
        @include change(order, 0, -1, $bp-m);
        text-align: center;
        @include change(position, absolute, static, $bp-m);
        @include change(transform,  translate(-50%, -50%),  translate(0, 0), $bp-m);
        padding: 12px 0;
        top: 50%;
        left: 50%;
    }
    &__logo {
        @include hide($bp-m);
    }
    &__logo-text {
        font-size: 12px;
        color: #666666;
    }
    &__sign {
        text-align: center;
        display: none;
        @include show($bp-m);
        background-color: #1e2026;
        width: 100%;
        @include change(padding, 10px 0 10px 0, 10px 0 20px 0, $bp-m);
    }
    &__sign-link {
        text-decoration: underline;
        cursor: pointer;
    }
}