mixin footer()
    footer.footer
        .footer__top.footer-top
            .container
                .footer-top__row
                    .footer-top__info
                        .footer-top__title Об Artgallery
                        ul.footer-top__info-list
                            li.footer-top__info-item
                                a.footer-top__info-link(href="#") О проекте
                            li.footer-top__info-item
                                a.footer-top__info-link(href="#") Блог
                            li.footer-top__info-item
                                a.footer-top__info-link(href="#") Авторы
                    .footer-top__info
                        .footer-top__title Покупателям
                        ul.footer-top__info-list
                            li.footer-top__info-item
                                a.footer-top__info-link(href="#") Доставка
                            li.footer-top__info-item
                                a.footer-top__info-link(href="#") Оплата
                            li.footer-top__info-item
                                a.footer-top__info-link(href="#") Возврат
                    .footer-top__info
                        .footer-top__title Каталог
                        ul.footer-top__info-list
                            li.footer-top__info-item
                                a.footer-top__info-link(href="#") Картины
                            li.footer-top__info-item
                                a.footer-top__info-link(href="#") Коллажи
                            li.footer-top__info-item
                                a.footer-top__info-link(href="#") Иллюстрации
                    .footer-top__contacts
                        .footer-top__title Контакты
                        .footer-top__contact-item
                            svg.footer-top__contact-icon
                                use(xlink:href="#phone")
                            a.footer-top__contact-phone(href="tel:+799912312344") +7 (999) 123 123 44
                        .footer-top__contact-item
                            svg.footer-top__contact-icon
                                use(xlink:href="#mail")
                            a.footer-top__contact-email(href="mailto:info@domainname.ru") info@domainname.ru
                        .footer-top__contact-item
                            svg.footer-top__contact-icon
                                use(xlink:href="#pin")
                            .footer-top__contact-address г. Москва, <br> Преснесенская наб., 12
                        .footer-top__pay1
                            img.footer-top__img.js-pay-img(src="img/pay_systems.png", alt="Платежные системы")
                    .footer-top__column
                        .footer-top__social
                            .footer-top__title Мы в социальных сетях:
                            .footer-top__social-links
                                .footer-top__social-item
                                    a.footer-top__social-link(href="#")
                                        svg.footer-top__social-icon
                                            use(xlink:href="#vk")
                                .footer-top__social-item
                                    a.footer-top__social-link(href="#")
                                        svg.footer-top__social-icon
                                            use(xlink:href="#fb")
                                .footer-top__social-item
                                    a.footer-top__social-link(href="#")
                                        svg.footer-top__social-icon
                                            use(xlink:href="#odnokl")
                                .footer-top__social-item
                                    a.footer-top__social-link(href="#")
                                        svg.footer-top__social-icon
                                            use(xlink:href="#inst")
                        .footer-top__pay
                            .footer-top__title Платежные системы
                            .footer-top__pay2
                                img.footer-top__img.js-pay-img(src="img/pay_systems.png", alt="Платежные системы")
        .footer__bottom.footer-bottom
            .footer-bottom__copy
                p.footer-bottom__copy-text &copy; Artgallery, 2020
            .container.container--zero-padding-mobile
                .footer-bottom__row
                    ul.footer-bottom__links
                        li.footer-bottom__item
                            a.footer-bottom__link(href="#") Политика конфиденциальности
                        li.footer-bottom__item
                            a.footer-bottom__link(href="#") Условия и положения
                    .footer-bottom__logo
                        a.footer-bottom__logo(href="#")
                            img.footer-bottom__logo-img(src="img/logo_developer.png", alt="Хоукинг Бразерс")
                        p.footer-bottom__logo-text Разработка сайта
                    p.footer-bottom__sign Сайт создан 
                        a.footer-bottom__sign-link(href="#") Hawking Brothers    