mixin catalog-title(mixclass='')
    .container.container--zero-padding-tablet.container--zero-padding-mobile
        .catalog-title__wrapper    
            div(class= mixclass + " catalog-title" style="background-image:url('img/catalog-title.jpg');")
            h2.catalog-title__text.js-title Каталог картин