mixin video-modal(mixclass, title)    
    div(class= mixclass + " video-item js-open-video" style="background-image:url('img/youtube.jpg')")
        svg.video-item__icon
            use(xlink:href="#video")
        .video-item__title= title
    .video-wrapper.js-video-wrapper
        .video-close.js-close-video
        .video.js-video-screen
            .video__frame
                iframe(src="https://www.youtube.com/embed/dQw4w9WgXcQ?enablejsapi=1&" width="805" height="453" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
