.video-item {
    max-width: 778px;
    width: 100%;
    cursor: pointer;
    @include rsp(margin-right, 60px, null, null, 35px, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    &__title {
        @include pn-sb;
        color: white;
        @include change(font-size, 25px, 15px, $bp-xl);
        letter-spacing: 0.025em;
        position: absolute;
        z-index: $z-bottom;
        line-height: 25px;
        @include rsp(left, 45px, null, null, 15px, null, 10px);
        @include rsp(bottom, 45px, null, null, 15px, null, 10px);
        @include rsp(padding-right, 45px, null, null, 20px, null, 10px);
    }
    &__icon {
        position: absolute;
        z-index: $z-bottom;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
        fill: white;
        stroke: white;
        stroke-width: 3px;
    }
    &:after {
        content:'';
        display: block;
        background: linear-gradient(180deg, rgba(133, 132, 132, 0) 0%, #000000 100%);
        opacity: .9;
        padding-top: 56%;
    }
}
.video-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bg-dark;
    display: none;
    overflow: auto;
    z-index: $z-bottom;
}
.video-close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 5;
    &:after,
    &:before {
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        top: 50%;
        transform-origin: 50% 50%;
        background-color: white;
    }
    &:after {
        transform: translateY(-50%) rotate(45deg);
    }
    &:before {
        transform: translateY(-50%) rotate(-45deg);
    }
}
.video {
    position: relative;
    overflow: hidden;
    @include rp(width, 70%, 80%, 90%);
    margin: 120px auto;
    &__frame {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}